//Variables :
$color-fond-thumbnail-img: #2E2B2B;
$color-fairguest: #cd0cb2;

.rc_lego.item_sheet_alpha.s02 {

    position: relative;

    .nav-prev,
    .nav-next {
        display: inline-block;
        position: absolute;
        top: 45%;
        z-index: 3;
        line-height: 0px;

        a {
            position: relative;
            display: inline-block;
            padding: 15px;
            text-decoration: none;
            cursor: pointer;

            &:before {
                transition: all .3s ease;
                font-family: 'raccourci';
                display: inline-block;
                position: absolute;
                color: #BABABA;
                font-weight: 700;
                font-size: 30px;
                left: 0;
            }

            &:hover {
                &:before {
                    color: black;
                }
            }
        }

        &.disabled {
            a {
                opacity: .3;

                &:hover {
                    color: #CECECE;
                }
            }
        }
    }

    .nav-prev {
        left: 25px;

        a:before {
            content: '\e61a';
        }
    }

    .nav-next {
        right: 25px;

        a:before {
            content: '\e619';
        }
    }

    *:focus {
        outline: none;
    }
}

.rc_lego.item_sheet_alpha.s02 {
    // *** changes from s01 ***

    .item-thumbnail {
        margin: 0;
        border: 1px solid #BABABA;
        border-bottom: none;
    }

    .infos {
        border: 1px solid #BABABA;
        border-top: none;
    }

    // ************************


    position: relative;
    text-align: left;

    &>a,
    &>a:hover,
    &>a:active,
    &>a:focus {
        text-decoration: none;
    }

    *:focus {
        outline: none;
    }

    section {
        margin: 0;
    }

    img {
        user-select: none;
        max-width: 100%;
    }

    p {
        margin: 0;
    }

    &:hover {
        .item-thumbnail img.img-thumb {
            transform: scale(1.1);
            transition: transform $transition-delay;
        }

        .infos {
            transform: none;

            .h3 {
                color: $primary-color;
            }
        }
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .item-tag-corner {
        z-index: 20;
        width: 90px;
        height: 90px;
        position: absolute;
        overflow: hidden;
        top: -6px;
        left: -6px;

        &:before,
        &:after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 4px solid darken($primary-color, 20%);
        }

        &:before {
            right: 0;
        }

        &:after {
            bottom: 0;
        }

        .corner {
            position: absolute;
            display: block;
            width: 160px;
            height: 80px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
            top: -15px;
            right: 0;
            transform: rotate(-45deg);
            background-color: $primary-color;
            // background: linear-gradient($primary-color 0%, darken($primary-color, 15%) 100%);
        }

        .icon {
            position: absolute;
            padding: 13px 16px;
            font-size: 25px;
            color: #fff;
        }
    }

    .item-thumbnail {
        overflow: hidden;
        display: block;
        display: flex;
        background-color: $color-fond-thumbnail-img;

        img.img-thumb {
            height: 100%;
            width: 100%;
            transition: transform $transition-delay;
        }

        .top-left-corner,
        .top-right-corner {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            padding: 0;

        }

        .item-tariffs,
        .item-tariffs-free {
            display: inline-block;
            padding: 10px 15px;
            text-align: left;
            line-height: 1;
            font-weight: 300;
            color: #FFF;
            background-color: $primary-color;

            .item-tariffs-label,
            .item-tariffs-type {
                font-size: 0.9em;
                opacity: 0.8;
            }

            .item-tariffs-value {
                font-size: 2.5em;
            }

            span {
                display: block;
                float: left;
                clear: left;
            }
        }

        .item-tariffs-free {
            padding: 10px 20px;
            font-weight: 200;
        }

        .item-services {
            display: flex;

            &>span {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 5px;
                margin-right: 4px;
                width: 30px;
                height: 40px;
                color: #FFF;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }


        .item-chains {
            display: inline-flex;
            padding: 4px;
            margin: 10px 10px 0px 10px;
            background-color: #FFF;
            border-radius: 5px;

            .item-chain {
                display: inline-flex;
                align-items: center;
                max-width: 50px;
                max-height: 50px;
                margin: 0;
                padding: 0;
                float: none;
                clear: none;
            }
        }

        .item-territory-label-brands {
            display: inline-flex;
            margin: 10px 10px 0px 10px;
            .item-territory-label-brand {
                display: inline-flex;
                align-items: center;
                width: 58px;
                height: 58px;
                margin: auto;
            }
        }

        .item-specials {
            display: block;
            padding: 4px;
            margin: 10px 10px 0px 10px;
            width: 50px;
            height: 50px;
            background-color: #FFF;
            border-radius: 5px;
        }

        .top-right-corner {
            left: auto;
            right: 0;
            text-align: right;

            .item-services {
                justify-content: flex-end;

                &>span {
                    margin-right: 0px;
                    margin-left: 4px;
                }
            }

            .item-tariffs,
            .item-chain,
            .item-specials,
            .item-deals {
                float: right;
                clear: right;
            }
        }
    }

    .infos-wrapper {
        padding: $ggw-div $ggw-div $ggw-div $ggw-div;
        // padding-bottom: 80px;
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.has-booking {
            padding-bottom: 80px;
        }
    }

    .infos {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        line-height: 1em;
        color: #7a7a7a;
        background-color: #FFF;
        transition: transform $transition-delay;
        padding: 0;

        .item-infos {
            display: flex;
            justify-content: space-between;
            .item-infos-left {}
            .item-infos-right {}
        }

        .item-itineraryLength {
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 100%;
            padding: 5px 15px;
            text-align: center;
            font-size: 2em;
            line-height: 1.7em;
            font-weight: 300;
            color: #FFF;
            background-color: $primary-color;

            .item-itineraryLength-decvalue {
                font-size: 0.7em; // 70% of parent
            }

            .item-itineraryLength-unit {
                display: inline-block;
                font-size: 0.8em;
                font-weight: 200;
            }
        }

        a {
            color: #7a7a7a;
        }

        .infos-wrapper p {
            margin-bottom: 5px;
        }

        .item-block-infos-date {
            padding: $ggw-div;
            padding-bottom: 0;
            text-align: center;

            &:after {
                display: block;
                content: '';
                height: 1px;
                width: 100%;
                margin-top: $ggw-div;
                margin-bottom: 0;
                background-color: #BABABA;
            }
        }

        .item-infos-date {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;

            .item-infos-date-label {
                font-size: 15px;
            }

            .item-infos-date-day {
                font-size: 21px;
            }

            .item-infos-date-month {
                font-size: 16px;
            }
        }

        .item-infos-header {
            display: table;
            margin-bottom: 10px;

            .item-infos-header-left {
                display: table-cell;
                vertical-align: top;
                width: 100%;

                &>*:last-child {
                    margin-bottom: 0;
                }
            }

            .item-infos-header-right {
                margin: 0;
            }
        }

        .item-infos-title {
            margin: 0;
            text-align: left;
            color: #222;
            font-size: 1.5em;
        }

        .item-infos-type {
            margin-top: 5px;
        }

        p.item-infos-desc {
            margin-bottom: $ggw-div;
        }

        .item-infos-ratings {
            margin-top: 5px;
            margin-bottom: 10px;

            span {
                color: #F0CB00;
                font-size: 0.95em;
                line-height: 0.95em;
            }

            span.icon-font-diamond {
                color: #c2a769;
                font-size: 0.9em;
                line-height: 0.9em;
            }
        }

        .item-block-infos-mark {
            padding-left: 8px;
            line-height: 1;
            text-align: center;

            .item-infos-mark {
                display: block;
                margin-bottom: 5px;

                i {
                    color: $primary-color;
                    font-size: 35px;
                }
            }

            .item-infos-nb-mark {
                display: block;
                white-space: nowrap;
            }
        }

        .item-infos-locomotions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }

        .item-infos-locomotion {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &>span:first-of-type {
                display: inline-block;
                width: 40px;
                height: 40px;
                color: $primary-color;
                font-size: 35px;
                text-align: center;
                line-height: 40px;
                overflow: hidden;
                &.icon-font-swimming { font-size: 22px; }
            }

            .locomotion-infos {
                display: flex;
                flex-direction: column;

                span {
                    display: block;
                    margin: auto;
                    float: left;
                    clear: both;
                    line-height: 1.3em;
                }
            }
        }

        .item-infos-down {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            padding-top: 0;

            &:before {
                display: block;
                content: '';
                height: 1px;
                width: 100%;
                margin-top: 0;
                margin-bottom: 15px;
                background-color: #BABABA;
            }
        }

        p.item-infos-town {
            margin: 0;
            adress {
                display: flex;
                span {
                    margin-right: 10px;
                }
            }
        }

        .btn-booking {
            color: #fff;
            font-size: 1.2em;
            background-color: $primary-color;
            padding: 10px 30px;
            margin: auto;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .item-infos-user {
        width: 70px;
        height: 70px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            border: 3px solid #FFF;
            border-radius: 50%;
            transition: transform $transition-delay;

            &:hover {
                transform: scale(1.1);
            }
        }

        &.within-img {
            margin: $ggw-div;
            position: absolute;
            bottom: 100%;
            left: 0;
        }
    }
}
