{% extends '_objects/bgParamsObject.twig' %}
{% block woodyBlockType %}feature{% endblock %}
{% block indexClass %}{{ customIndexClass|default('01') }}{% endblock %}
{% block woodyComponentContent %}
    {% if link %}
        <a class="feature-link no-ext" href="{{ link.url }}" target="{{ link.target|default('_self') }}" title="{{ link.title|default(title) }}">
    {% endif %}
        {% include "_objects/#{customTitlesObject|default('titlesObject')}.twig" with {
            'titles' : _context,
            'contextPrefix' : "feature",
            'flexOptions' : customFlexOptions|default("flex-container flex-dir-column align-center align-middle text-center")
        } %}
    {% if link %}
        </a>
    {% endif %}
{% endblock %}
