{% extends '_objects/gridObject.twig' %}
{% block grid_items %}
<div class="grid_5col_tpl_01 grid-x medium-up-5 align-center {{ alignment|default }} {{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
    {% if items|default %}
        {% for key, item in items %}
            <div class="cell small-down-order-{{resp_order[key]|default(9)}}">
                {{ item }}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
