/*------------------------------------*\
    - GAP, CUSHION, PUSH, PULL
\*------------------------------------*/
/*
 * Manage Vertical rhythm utilities
 */
._plu-push,
._plu-push-bottom {
    margin-bottom: $vr;

    &--tiny {
        margin-bottom: $vr--tiny;
    }

    &--small {
        margin-bottom: $vr--small;
    }

    &--large {
        margin-bottom: $vr--large;
    }

    &--huge {
        margin-bottom: $vr--huge;
    }
}

._pl_plu-push-right--small {
    margin-right: $vr--small;
}

._plu-push-right {
    margin-right: $vr;

    &--tiny {
        margin-right: $vr--tiny;
    }

    &--small {
        margin-right: $vr--small;
    }

    &--large {
        margin-right: $vr--large;
    }

    &--huge {
        margin-right: $vr--huge;
    }
}

._plu-push-left {
    margin-left: $vr;

    &--tiny {
        margin-left: $vr--tiny;
    }

    &--small {
        margin-left: $vr--small;
    }

    &--large {
        margin-left: $vr--large;
    }

    &--huge {
        margin-left: $vr--huge;
    }
}

._plu-push-top {
    margin-top: $vr;

    &--tiny {
        margin-top: $vr--tiny;
    }

    &--small {
        margin-top: $vr--small;
    }

    &--large {
        margin-top: $vr--large;
    }

    &--huge {
        margin-top: $vr--huge;
    }
}

._plu-cushion,
._plu-cushion-bottom {
    padding-bottom: $vr;

    &--tiny {
        padding-bottom: $vr--tiny;
    }

    &--small {
        padding-bottom: $vr--small;
    }

    &--large {
        padding-bottom: $vr--large;
    }

    &--huge {
        padding-bottom: $vr--huge;
    }
}

._plu-cushion-x {
    padding-left: $vr;
    padding-right: $vr;
}

._plu-cushion-left {
    padding-left: $vr;

    &--tiny {
        padding-left: $vr--tiny;
    }

    &--small {
        padding-left: $vr--small;
    }

    &--large {
        padding-left: $vr--large;
    }

    &--huge {
        padding-left: $vr--huge;
    }
}

._plu-cushion-right {
    padding-right: $vr;

    &--tiny {
        padding-right: $vr--tiny;
    }

    &--small {
        padding-right: $vr--small;
    }

    &--large {
        padding-right: $vr--large;
    }

    &--huge {
        padding-right: $vr--huge;
    }
}

._plu-pull {
    margin-bottom: -$vr;

    &--tiny {
        margin-bottom: -$vr--tiny;
    }

    &--small {
        margin-bottom: -$vr--small;
    }

    &--large {
        margin-bottom: -$vr--large;
    }

    &--huge {
        margin-bottom: -$vr--huge;
    }
}

/*------------------------------------*\
    - SOFT
\*------------------------------------*/
/*
 * Adds padding/margin
 */
._plu-soft {
    padding: ($vr/2) !important;

    &--top {
        padding-top: ($vr/2) !important;
    }

    &--bottom {
        padding-bottom: ($vr/2) !important;
    }

    &--left {
        padding-left: ($vr/2) !important;
    }

    &--right {
        padding-right: ($vr/2) !important;
    }

    &--x {
        padding-left: ($vr/2) !important;
        padding-right: ($vr/2) !important;
    }

    &--y {
        padding-top: ($vr/2) !important;
        padding-bottom: ($vr/2) !important;
    }
}

@media (min-width: $ts_screen-sm-min) {
    ._plu-push\@sm {
        margin-bottom: $vr !important;
    }
}

@media (min-width: $ts_screen-md-min) {
    ._plu-push\@md {
        margin-bottom: $vr !important;
    }
}

@media (min-width: $ts_screen-lg-min) {
    ._plu-push\@lg {
        margin-bottom: $vr !important;
    }
}


/*------------------------------------*\
    - FLUSH, HARD
\*------------------------------------*/
/*
 * Removes padding/margin
 */
// margins
._plu-flush {
    margin: 0 !important;

    &--top {
        margin-top: 0 !important;
    }

    &--right {
        margin-right: 0 !important;
    }

    &--bottom {
        margin-bottom: 0 !important;
    }

    &--left {
        margin-left: 0 !important;
    }

    &--y {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &--x {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

// Add/remove paddings
._plu-hard {
    padding: 0 !important;

    &--top {
        padding-top: 0 !important;
    }

    &--right {
        padding-right: 0 !important;
    }

    &--bottom {
        padding-bottom: 0 !important;
    }

    &--left {
        padding-left: 0 !important;
    }

    &--y {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    &--x {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media (min-width: $ts_screen-sm-min) {
    ._plu-hard\$sm {
        padding: 0 !important;
    }
}

@media (min-width: $ts_screen-md-min) {
    ._plu-hard\$md {
        padding: 0 !important;
    }
}

@media (min-width: $ts_screen-lg-min) {
    ._plu-hard\$lg {
        padding: 0 !important;
    }
}


/**
 * DISPLAY TYPE
 */
._plu-inline {
    display: inline-block !important;
}

._plu-block {
    display: block !important;
}

@media (min-width: $ts_screen-sm-min) {
    ._plu-inline\$sm {
        display: inline-block !important;
    }

    ._plu-block\$sm {
        display: block !important;
    }
}

@media (min-width: $ts_screen-md-min) {
    ._plu-inline\$md {
        display: inline-block !important;
    }

    ._plu-block\$md {
        display: block !important;
    }
}

@media (min-width: $ts_screen-lg-min) {
    ._plu-inline\$lg {
        display: inline-block !important;
    }

    ._plu-block\$lg {
        display: block !important;
    }
}
