{% extends '_objects/gridObject.twig' %}
{% block grid_items %}
<div class="grid_4col_tpl_01 grid-x small-up-1 large-up-4 align-center {{ alignment|default }} {{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
    {% if items|default %}
        {% for key, item in items %}
            <div class="cell xmedium-down-order-{{resp_order[key]|default(0)}}">
                {{ item }}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
