$locomotionIconSize: 33px;

.section-did-you-know {
    ._panel-title {
        &:after {
            display: block;
            font-size: 43px;
            padding-left: 15px;
            margin: 10px auto 0;
            @extend .icon-font-item;
            @extend .icon-hat;
        }
    }
}

.locomotion-features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $text-muted;


    .locomotion-feature-wrapper {
        display: flex;
        flex-direction: column;

        i {
            font-size: $locomotionIconSize;
            line-height: $locomotionIconSize+3;

            &.icon-font-dot:before {
                color: $text-muted;
                color: $primary-color;
            }
        }
    }


    .trip-length {
        color: $primary-color;
        @include header-size(h1);
        line-height: $font-size-h1;
        font-weight: 400;

        &__unit {
            font-weight: 300;
            @include header-size(h2);
        }
    }
}

// color: $text-muted;
