& {
    @include breakpoint(large down) {
        height: $summary-accordion-height;
        padding: $summary-accordion-padding !important;
        overflow: hidden;

        &.open {
            height: inherit;
            overflow: inherit;
        }
    }
}
