&.is-horizontal-summary {
    .menu {
        @include breakpoint(large) {
            flex-direction: row;
        }
    }

    .summary-item {
        @include breakpoint(large) {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &.isFixed {
        transition: transform $headnavs-autohide-duration;
    }
}
