.summary-item-index {
    @if $summary-item-index-reset-style==false {
        height: $summary-item-size;
        width: $summary-item-size;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $summary-item-color;
        background-color: $summary-item-bgcolor;
        border-radius: $summary-item-border-radius;
        padding: 10px;
    }

    font-size: $summary-item-font-size;
    font-weight: $summary-item-font-weight;
    margin-right: 10px;
    transition: $summary-item-transition;
}
