.sheet-sidebar-item-tariff {
    .fat-price {
        font-size: rem-calc(45);
        font-weight: bold;
        line-height: 1;
    }

    .free-price {
        font-size: rem-calc(36);
        font-weight: bold;
        line-height: 1;
    }
}
