{% extends "blocks/hero/tpl_15/tpl.twig" %}
{% block index_class %}tpl_16 hero-full-height hero-blog-header{% endblock %}
{% block heroText %}
    <div class="titles-container flex-container flex-dir-column align-center isRel">
        {% if parallax %}<div class="rellax" data-rellax-speed="2">{% endif %}
        {% include '_objects/titlesObject.twig' with {
            'titles' : _context,
            'contextPrefix' : "hero",
            'flexOptions' : "flex-container flex-dir-column marg-bottom-md",
            'no_desc' : true
        } %}
        {% if parallax %}</div>{% endif %}

        {% block tagsList %}
            {% if page_heading_tags %}
                <ul class="list-unstyled flex-container align-middle align-right tagslist isAbs">
                    {% for tag in page_heading_tags %}
                        <li class="tagslist-item">{{ tag.label }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
