{% extends '_objects/genericBlocComponent.twig' %}
{% set classes = 'text-center' %}
{% block woodyBlockType %}cta{% endblock %}
{% block indexClass %}{{ customIndexClass|default('03') }}{% endblock %}
{% block woodyComponentContent %}
    {% include '_objects/genericBlocTitles.twig' with {
        display: display_block_titles|default(),
        margin: block_titles_margin|default('marg-bottom-sm')
    } %}
    <div class="cta-desc">
        {{ block("cta_desc", "blocks/call_to_action/tpl_01/tpl.twig") }}
    </div>
    {% include '_objects/buttonBlock.twig' with {
        block_button_prefix: 'cta',
        layout: 'centered'
    } %}
{% endblock %}

