<article id="testarea" class="row plo-panel plo-panel--contrast">

	<div class="plo-panel__row">

    <div ng-if="appLoaded" rc-bloc="WeatherBlocCtrl" ng-include src="'sections/blocs/weather/weather-bloc.html'" resolve="{'weather':{'token':'tourismecondom','provider':'default','display':{'wind':0}}}">
    </div>

		{# Test Area
		<br><br> #}
		{# HOLIDAYS AREAS TOOLTIP #}
		{# <div class="holidays-areas-info circle"
			tooltip-advanced tooltip-advanced-placement="bottom" tooltip-advanced-template="holidaysareas">
    		<span class="icon-font-info"></span>
  		</div> #}

  		{# {% if global.request.attributes is defined and global.request.attributes.get('part') == 'preview' %}
            {{ global.request.attributes.get('part') }}
        {% endif %} #}

		{# Weezevent #}
  		<a 	title="Logiciel billetterie en ligne" href="https://www.weezevent.com//?c=sys_widget"
  			class="weezevent-widget-integration" target="_blank"
  			data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=190744&lg_billetterie=1&code=46026&resize=1&width_auto=1&color_primary=000000" data-width="650" data-height="600" data-id="190744"
  			data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">
  				Billetterie Weezevent
  		</a>

	</div>
	<br>

</article>