<div class="woody-component-basic-swiper {{ index_class|default('tpl_01') }}">
    <div class="swiper-container swResp woody-swiper {{ styleClass|default }}{% if pagination|default %} has-pagination{% endif %}" data-options="{{ swiper_options|default }}">
        <div class="swiper-wrapper swRespW">
            {% for key, item in items %}
                <div class="swiper-slide swRespS">
                    {% include "cards/#{card}/tpl.twig" with {
                        'desequalize' : desequalize,
                        'image_style' : image_style,
                        'page_type' : item.page_type
                    } %}
                </div>
            {% endfor %}
        </div>
        {% if pagination|default %}
            <div class="swiper-{{ paginationStyle|default('thumbs') }}">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for key, item in items %}
                            <div class="swiper-slide">
                                {% include "cards/#{card}/tpl.twig" with {
                                    'desequalize' : desequalize,
                                    'image_style' : image_style,
                                    'page_type' : item.page_type
                                } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if items|length > 1 %}
        <div class="swiper-nav">
            <div class="swiper-button-prev">
                <i aria-hidden="true" class="wicon wicon-026-precedent"></i>
            </div>
            <div class="swiper-button-next">
                <i aria-hidden="true" class="wicon wicon-025-suivant"></i>
            </div>
        </div>
    {% endif %}
</div>
