{% spaceless %}
{% if img|default %}
    {% set original_size = img.sizes.ratio_free %}
    <div class="backgroundMedia fullcenterbox lazyload" data-title="{{ img.title }}" data-img-id="{{ img.id }}" data-src="{{ img.url }}" style="background-size:cover; background-position:center center; transition: opacity .6s ease-in-out; opacity: 0;"></div>
{% endif %}
{% endspaceless %}
