{% spaceless %}
<a href="{{ target|default() }}" class="scrollDown isAbs flex-container align-center align-middle">
    <div class="scrollDown-mouse">
        <span class="scrollDown-mouse-shape">
            <span class="scrollDown-mouse-bar"></span>
        </span>
    </div>
    <div class="scrollDown-arrow">
        <span class="wicon wicon-048-fleche-bas"></span>
    </div>
</a>
{% endspaceless %}
