{% extends 'lists/list_full/tpl_103/tpl.twig' %}
{% block index_class %}tpl_104{% endblock %}
{% block the_filters %}
<div class="grid-x">
    {% for filter_index, filter in filters if filter_index matches '/^\\d+$/' %}
        <div class="cell filter-item">
            {% include 'lists/list_filters/tpl_04/tpl.twig' with {
            'alignment_classes' : "align-start align-middle padd-top-sm padd-right-sm padd-bottom-sm",
            'label_padding' : "padd-top-sm padd-right-sm padd-bottom-sm"
            } %}
        </div>
    {% endfor %}
    <div class="cell">
        {{ block("list_form_actions", "lists/list_full/tpl_101/tpl.twig") }}
    </div>
</div>
{% endblock %}
{% block the_fallback %}
{% include 'lists/list_full/tpl_102/tpl.twig' %}
{% endblock %}
