.card {
    margin-bottom: 0;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    overflow: visible;

    >a {
        border-radius: $card-border-radius;
    }

    &-index {
        top: $cardIndex-top-pos;
        left: $cardIndex-left-pos;
        z-index: 1;
        color: $cardIndex-color;
        font-size: rem-calc($cardIndex-font-size);
        font-family: $cardIndex-font-family;
        font-weight: $cardIndex-font-weight;
        line-height: 1;
        opacity: $cardIndex-opacity;
        pointer-events: none;

        @include root('.splitCard.media-right') {
            left: initial;
            right: $cardIndex-left-pos;
        }
    }

    &-fairguest-badge {
        z-index: 10;

        &.has-rating {
            margin-bottom: 10px;

            @include root('.basicCard') {
                margin-top: $cardFairguestBadge-offset;
            }
        }

        span {
            color: $white;
            display: inline-block;
            font-size: $cardFairguestBadge-font-size;
            font-weight: $cardFairguestBadge-font-weight;
            text-align: center;
            line-height: 1;
            min-width: 40px;
            border-radius: $cardFairguestBadge-border-radius;
            padding: $cardFairguestBadge-padding;
        }
    }

    &-titles {
        &.has-icon-img img {
            max-width: $icon-img-max-width;
        }

        width: 100%;
    }

    &-created {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-style: italic;
    }

    &-button {
        margin-top: 20px;
    }

    &-video {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    &-link {
        height: 100%;
        color: rgb(24, 24, 24);

        &:hover {
            color: inherit;
        }
    }

    &-description {
        p {
            margin-bottom: 0;
        }
    }

    &-texts {
        >span {
            display: block;
        }
    }

    &-title {
        @extend .h4 !optional;
    }

    &-pretitle,
    &-subtitle {
        @extend .h6 !optional;
    }

    &-wicon {
        font-size: rem-calc($card-icon-size);
    }

    &-date {
        font-family: $card-date-font-family;
        margin-bottom: 10px;

        .date-part {
            display: inline-flex;
            align-items: center;
            flex-direction: $card-datePart-direction;

            >span {
                line-height: 1em;
            }

            span[class$="-day"] {
                font-size: $card-date-day-size;
                font-weight: $card-date-day-font-weight;
            }

            span[class$="-month"] {
                font-size: $card-date-month-size;
                font-weight: $card-date-month-font-weight;
                text-transform: $card-date-month-txt-transform;
            }
        }
    }

    &-town,
    &-type {
        color: $card-sheet-town-color;
    }

    &-type {
        text-transform: $card-sheet-type-txt-transform;
        font-size: rem-calc(13);
    }

    &-town {
        .wicon {
            display: inline-block;
            transform: translateY(3px);
        }
    }

    &-bookable {
        font-size: $card-bookable-font-size;
        padding: $card-bookable-padding;
        background-color: $card-bookable-bgcolor;
        color: $card-bookable-color;
        font-weight: $card-bookable-font-weight;
        border-radius: $card-bookable-border-radius;
        border: $card-bookable-border-color $card-bookable-border-style $card-bookable-border-width;
        position: absolute;
        top: $card-bookable-top-pos;
        left: $card-bookable-left-pos;
        right: $card-bookable-right-pos;
    }

    &-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: $global-margin*2;

        .profile-img {
            width: $card-profile-img-size;
            box-shadow: $card-profile-img-shadow;
            border-radius: $card-profile-img-radius;
            border: $card-profile-img-border;

            .imageObject-caption {
                visibility: hidden;
            }
        }

        .profile-name {
            font-size: $card-profile-font-size;
            font-family: $card-profile-font-family;
            font-weight: $card-profile-font-weight;
            font-style: $card-profile-font-style;
            text-shadow: $card-profile-img-shadow;
        }
    }

    &.basicCard {

        .card-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: $nobg-cardsection-bgcolor;
            border-radius: 0 0 $card-border-radius $card-border-radius;

            &.text-center {
                align-items: center;
            }

            &.has-profile {
                position: relative;
            }
        }

        .cardMediaWrapper {
            border-radius: $card-border-radius $card-border-radius 0 0;
        }

        .card-profile {
            position: $basiccard-profile-position;
            margin: 0;

            @each $element,
            $value in $basiccard-profile-coords {
                #{$element}: #{$value};
            }
        }
    }

    &.splitCard {
        .card-section {
            background-color: $nobg-splitcardsection-bgcolor;

            &.card-section-colored {
                color: $cardsection-color;
                background-color: $cardsection-bgcolor;
            }

            @include breakpoint(xmedium down) {
                border-radius: 0 0 $card-border-radius $card-border-radius;
            }
        }

        @include breakpoint(xmedium down) {
            .grid-x {
                &>.cell:not(.card-section) {
                    padding: 0 !important;
                }
            }

            .cardMediaWrapper {
                border-radius: $card-border-radius $card-border-radius 0 0;
            }
        }

        @include breakpoint(large) {
            &.media-left {
                .card-section {
                    border-radius: 0 $card-border-radius $card-border-radius 0;
                }

                .cardMediaWrapper {
                    border-radius: $card-border-radius 0 0 $card-border-radius;
                }
            }

            &.media-right {
                .card-section {
                    border-radius: $card-border-radius 0 0 $card-border-radius;
                }

                .cardMediaWrapper {
                    border-radius: 0 $card-border-radius $card-border-radius 0;
                }
            }
        }

        @include breakpoint(xlarge up) {
            .is-abs {
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                justify-content: space-around;

                &.abs-left {
                    left: 10%;
                }

                &.abs-right {
                    right: 10%;
                }

                .card-title {
                    @include header-size(h2);
                    margin-bottom: 30px;
                }
            }

            .bg-primary {
                .card-button {
                    color: set-color($primary-color)
                }
            }

            .bg-secondary {
                .card-button {
                    color: set-color($secondary-color)
                }
            }
        }
    }

    &.overlayedCard {
        background-color: $overlayed-bgcolor;

        .card-section,
        a {
            color: $white;
        }

        .cardMediaWrapper {
            height: 100%;
            border-radius: $card-border-radius;
        }

        .card-titles {
            @if $texts-shadow {
                @include smooth-shadow($type:text, $y:$texts-shadow-distance, $blur:$texts-shadow-blur, $color:$texts-shadow-color, $opacity:$texts-shadow-opacity, $layers:$texts-shadow-layers, $ratio:$texts-shadow-curve, $oRatio:0);
            }
        }

        .card-description {
            max-width: 600px;
        }

        .card-profile {
            .profile-img {
                height: auto;
                border-radius: 50%;
            }
        }

        &.tpl_01,
        &.tpl_03 {
            .card-description {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.tpl_02,
        &.tpl_04 {
            .card-description {
                margin-left: auto;
            }
        }

        .card-iti {
            max-width: 80%;
            background: rgba($white, .7);
            padding: 20px;
            box-shadow: 0 8px 10px rgba($black, .3);
        }
    }

    &-iti-length {
        line-height: 1em;
        color: $iti-length-color;
        font-weight: bold;
        font-size: $iti-length-size;
        padding-right: 10px;
        text-align: center;
        flex-grow: 1;

        // top: $iti-length-top-position;
        // right: $iti-length-right-position;
        // bottom: $iti-length-bottom-position;
        // left: $iti-length-left-position;
        // border-radius: $iti-length-border-radius;
        // background-color: $iti-length-bgcolor;
        // @include xy-gutters($gutters: 10px, $gutter-type:padding, $gutter-position: top left right bottom)
    }

    &-iti {
        display: flex;
        align-items: center;
        margin: 10px auto;
    }

    &-iti-infos {
        display: flex;
        justify-content: stretch;
        flex-grow: 1;

        >li {
            position: relative;
            padding: 0 10px;
            text-align: center;
            font-weight: bold;
            flex-grow: 1;

            &:before {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: $light-gray;
                position: absolute;
                left: 0;
                top: 0;
            }

            .iti-infos-type {
                >small {
                    display: block;
                    line-height: 1.1em;
                }

                .wicon {
                    display: $iti-infos-type-icon-display;
                    color: $iti-infos-type-icon-color;
                    font-size: $iti-infos-type-icon-size;
                }

                .term {
                    display: $iti-infos-type-term-display;
                }
            }
        }
    }

    &.skeleton-card {
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            background-color: #e2e5e7;
            background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
            background-repeat: no-repeat;
            background-size: 25% 100%;
            background-position: left -25% top 0;
            animation: skeletonCard 0.75s ease infinite;
            transition: 0.25s ease-in-out;
        }

        &.card-loaded {
            &::before {
                pointer-events: none;
                opacity: 0;
                animation-play-state: paused;
            }
        }
    }
}

.card.overlayedCard,
.card.basicCard.tpl_01,
.card.basicCard.tpl_02,
.card.splitCard {
    .card-tripInfos-wrapper {
        top: $card-tripInfos-top-position;
        bottom: $card-tripInfos-bottom-position;
        left: $card-tripInfos-left-position;
        right: $card-tripInfos-right-position;
        background-color: $card-tripInfos-bgcolor;
        color: $card-tripInfos-color;
        text-align: center;

        .fat-text {
            display: block;
            font-weight: bold;
            font-size: rem-calc(18);
        }

        small {
            font-size: rem-calc(11);
        }
    }
}

.card.basicCard.tpl_03 {

    .tripInfos-price,
    .tripInfos-duration {
        >span {
            display: block;
            line-height: 1em;

            &.prefix {
                color: rgba($black, 40%);
                text-transform: uppercase;
            }

            &.fat-text {
                font-size: rem-calc(22);
            }
        }
    }

    .tripInfos-duration {
        margin-left: auto;
    }
}

.card.basicCard.tpl_04 {
    .card-tripInfos-wrapper.has-price {
        margin-top:calc(-#{$card-priceTag-height} / 2);
    }

    .tripInfos-price {
        margin: 0 auto 20px auto;
        padding: $card-priceTag-padding;
        width: $card-priceTag-width;
        height: $card-priceTag-height;
        background-color: $card-tripInfos-bgcolor;
        color: $card-tripInfos-color;
        border-radius: $card-tripInfos-border-radius;
        @include bordered($card-tripInfos-border-width, $card-tripInfos-border-style, $card-tripInfos-border-color);

        .prefix,
        .suffix {
            font-size: $card-priceTag-smallSize;
            line-height: 1;
        }

        .prefix {
            margin-bottom: 5px;
        }

        .suffix {
            margin-top: 5px;
        }

        .value {
            font-size: $card-priceTag-fatSize;
            font-weight: $global-weight-bold;
            line-height: 1;
        }
    }
}

.card.splitCard {
    @include breakpoint(medium down) {
        .grid-x>.cell:not(.card-section) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &.tpl_01 {
        .card-section {
            @include breakpoint(large) {
                padding-left: map-get($grid-padding-gutters, medium)*2;
            }
        }
    }

    &.trip {
        &.media-left {
            .card-tripInfos-wrapper {
                right: 0px;
                left: auto;
            }

            .card-title {
                padding-right: 100px;
            }
        }

        &.media-right {
            .card-tripInfos-wrapper {
                left: 0px;
                right: auto;
            }
        }
    }

    &.tpl_07 {
        .card-tripInfos-wrapper {
            width: 100%;
        }
    }

    &.tpl_09,
    &.tpl_10 {
        @include breakpoint(medium down) {
            figure {
                img {
                    max-height: 700px;
                }
            }

            .is-abs {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
                width: calc(100% - 40px);
            }
        }
    }

}

.geomapCard {
    .card-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .has-btn .card-titles {
        padding-bottom: 15px;
    }

    .button {
        margin-bottom: 20px;
        padding: 10px 20px;
        font-size: 12px;
        font-family: 'helvetica';
        font-weight: 500;
    }

    .card-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .card-title {
        font-weight: 500;
        margin-bottom: 5px;
        text-shadow: 0px 0px 0px $black;
    }

    .card-description {
        max-width: 200px;
    }

    .imageObject {
        height: 195px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
    }
}

.card.profileCard {
    background-color: $nobg-profileCardsection-bgcolor;

    .profile {
        &-title {
            @extend h4;
        }

        &-complement {
            @include header-size(h6);
            display: block;
            margin-bottom: 10px;
            font-style: $profile-focus-complement-font-style;
            color: $profile-focus-complement-color;
        }

        &-img {
            border: solid $profile-focus-img-border-width $profile-focus-img-border-color;
            border-radius: $profile-focus-img-radius;
        }

    }

    .profile-expression {
        margin-top: 15px;
    }

    .expression-title {
        @include header-size(h5);
        color: $profile-focus-exp-title-color;
    }

    .expression-content p {
        font-size: rem-calc($profile-focus-complement-size);
        color: $profile-focus-complement-color;
    }

    .social-item {
        margin-left: 8px;
        font-size: rem-calc($profile-focus-social-size);

        &.linkedin {
            @include wicon(006-linkedin);
        }

        &.twitter {
            @include wicon(002-twitter);
        }
    }

    &.tpl_01,
    &.tpl_201 {
        @include breakpoint(medium down) {
            text-align: center;

            .title-wrapper {
                display: flex;
                justify-content: center;
            }
        }

        .profile {

            &-nationality,
            &-birth,
            &-contacts {
                font-size: rem-calc(14);
            }

            &-contacts {

                .profile-address {
                    width: 100%;
                }

                a:not(:nth-of-type(1)):before {
                    @include breakpoint(medium) {
                        content: '';
                        display: block;
                        width: 4px;
                        height: 2px;
                        background-color: $black;
                        margin: 0 5px;
                    }

                }
            }
        }

        .title-wrapper {
            display: flex;
            align-items: center;
        }
    }
}

.card-slideshow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
}

.card-slideshow-img {
    position: absolute;
    top: 0;
    left: 0;
}

.card.has-slideshow:hover {
    .card-slideshow-wrapper {
        opacity: 1;
        transition: opacity .5s;
    }

    .card-slideshow-img {
        &.imgL1 {
            @include Xfader(1, 1, .5);
        }

        &.imgL2 {
            @include Xfader(2, 1, .5);
        }

        &.imgL3 {
            @include Xfader(3, 1, .5);
        }

        &.imgL4 {
            @include Xfader(4, 1, .5);
        }
    }
}

.bg {

    @each $color,
    $hex in $foundation-palette {
        &-#{$color} {

            .profileCard .card-section,
            .splitCard .card-section,
            .basicCard .card-section {
                background-color: $coloredbg-cardsection-bgcolor;
            }
        }
    }
}
