.woody-component-claims-block {

    &:not(.inSection) {

        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 280px;
        z-index: 9999;
        box-shadow: 0 6px 4px rgba($black, .15);
        background-color: $white;

        &.bottom-left {
            left: 20px;
            right: auto;
        }

        &.center {
            bottom: 50%;
            right: 50%;
            transform: translateX(50%) translateY(50%);
        }

        .claim-wicon {
            margin-top: -35px;
            margin-bottom: 10px;
            background-color: $white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $black;
            position: relative;
            z-index: 2;
        }
    }

    .claim {
        &-titles {
            @include xy-gutters($gutter-type: padding, $gutter-position: top left right);
        }

        &-pretitle,
        &-title,
        &subtitle {
            display: block;
        }

        &-pretitle,
        &-title {
            margin-bottom: 0;
        }

        &-title {
            @extend .h4 !optional;
        }

        &-pretitle,
        &-subtitle {
            @extend .h6 !optional;
        }

        &-wicon {}

        &-button {
            @include xy-gutters($gutter-position: top left right);
            display: flex;
            justify-content: center;
        }

        //Claim in Section TPL 05
        &-section.bottomleftbox {
            transform: translateX(0%) translateY(0%) translateZ(0);
            width: 25%;
            height: calc(100% / 3 * 2);
            justify-content: center;
            @include positionInDiv (bottom, $claimOffset, left);

            @include breakpoint(medium) {
                padding: $global-padding;
            }

            @include breakpoint(large down) {
                width: 85%;
                max-height: 70%;
                @include positionInDiv (bottom, $mobileClaimOffset, left);
            }

            &+.claim-button {
                @include positionInDiv (bottom, $claimOffset, left);

                @include breakpoint(large down) {
                    @include positionInDiv (bottom, $mobileClaimOffset, left);
                }
            }
        }
    }

    // Tpl_07 (symétrie du tpl_06)
    &.tpl_07 {

        .textsWrapper {
            order: 1;
        }

        .imageWrapper {
            order: 2;
        }
    }

    .swiper-slide {
        opacity: 0 !important;

        &.swiper-slide-active,
        &.swiper-slide-visible,
        &.swiper-slide-duplicate-active {
            opacity: 1 !important;
        }
    }

    .claim-close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -15px;
        right: -15px;
        background-color: $black;
        color: darken($white, 10%);
        z-index: 1;
        font-size: rem-calc(12);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 0 8px rgba($black, .4);

        &:hover {
            color: $white;
        }
    }
}

body.fullScrolled {
    .woody-component-claims-block {
        transform: translateY(-50px); // To stay above cookie consent banner
    }

    .claim-content {
        @include breakpoint(large down) {
            font-size: 14px;
        }
    }
}
