.woody-component-custom-text {
    p>.button {
        @include xy-gutters($gutter-position: right);
    }

    p .wicon:before {
        font-size: $icons-in-text-size;
    }
}

/**
 * SHOW MORE BUTTON
 */
.woody-component-custom-text {
    &.has-show-more-button {
        &>div>.cell {
            overflow: hidden;
            //FOR ANYTHING BUT SAFARI
            @supports (not( -moz-appearance:none )){
                /* Add non-firefox CSS code here */
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-clamp: $show-more-max-line;
                -webkit-line-clamp: $show-more-max-line;
            }

            //FOR FIREFOX ONLY
            @supports ( -moz-appearance:none ) {
                max-height:  calc(2em * #{$show-more-max-line});
            }
            //FOR SAFARI ONLY
            @media not all and (min-resolution:.001dpcm){
                @supports (-webkit-appearance:none) {
                    display: block;
                    -webkit-box-orient: unset;
                    line-clamp: unset;
                    -webkit-line-clamp:unset;
                    max-height:  calc(2em * #{$show-more-max-line});
                }
            }
        }

        &.show-more-button-open {
            &>div>.cell {
                //FOR ANYTHING BUT SAFARI
                @supports not( -moz-appearance:none ){
                    line-clamp: initial;
                    -webkit-line-clamp: initial;
                }
                //FOR FIREFOX ONLY
                @supports ( -moz-appearance:none ) {
                    max-height: unset;
                }
                //FOR SAFARI ONLY
                @media not all and (min-resolution:.001dpcm)
                { @supports (-webkit-appearance:none) {
                    max-height: unset;
                }}
            }

            .showMoreButton {
                @include wicon($show-more-button-close-wicon, after);
            }
        }

        &:not(.show-more-button-open) {
            .showMoreButton {
                margin-top: 15px;
                @include wicon($show-more-button-open-wicon, after);
            }
        }

        .showMoreButton {
            display: flex;
            justify-content: center;
            color: $show-more-button-color;
            padding: 5px 10px;
            width: fit-content;
            margin: auto;
            font-weight: $show-more-button-weight;

            &:after {
                margin-left: 10px;
            }
        }
    }
}

