.gallery,
.socialwall {
    &-titles {
        &.has-icon-img img {
            max-width: $icon-img-max-width;
        }
    }

    &-texts {
        >span {
            display: block;
        }
    }

    &-title {
        @extend .h3 !optional;
    }

    &-pretitle,
    &-subtitle {
        @extend h6 !optional;
    }
}

.splitGallery {
    @include breakpoint(medium) {
        .medium-grid-frame {
            min-height: calc(100% + (.9375em *2));
        }
    }

    .mediaCard {
        display: block;
        height: 100%;

        >.imageObject {
            height: 100%;
        }
    }
}

.mediaCard{
    position: relative;
    display: block;
    height: 100%;

    .videoObject,
    .videoObject-video{
        height: 100%;
    }

    .woody-component-movie{
        height: 100%;
    }

    .movie-icon{
        display: block;
        width:30px;
        height: 30px;
        position: absolute;
        border-radius: 50%;
        border:3px solid $white;
        box-shadow: 2px 2px 8px 2px rgba($black, .5);
        box-sizing: border-box;
        top:10px;
        right:10px;
        pointer-events: none;
        z-index: 1;
        opacity: 0;
        transform:scaleX(0) scaleY(0);
        animation: fadein .3s 1s ease-in forwards;
        &:after{
            display: block;
            content:'';
        }
        &:after{
            position: absolute;
            top: calc(50% - 6px);
            left: calc(50% - 3px);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 10px;
            border-color: transparent transparent transparent $white;
        }
    }
}

.swiper-thumbs .mediaCard .movie-icon{
    top:5px;
    right:5px;
    width: 22px;
    height: 22px;
    border-width: 2px;
    &:after{
        top: calc(50% - 4px);
        left: calc(50% - 2px);
        border-width: 4px 0 4px 6px;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
        transform:scaleX(1) scaleY(1);
    }
    100%{
        opacity: 1;
        transform:scaleX(1) scaleY(1);
    }
}

.mediaCard:not([lightbox="0"]) {
    cursor: pointer;
}

.woodyGallery>.woody-component-basic-swiper {
    @extend .cell;
}

.woody-component-gallery {
    &.tpl_111 {
        .swiper-container {
            padding: 0 40px;

            @include breakpoint(large) {
                padding: 0 120px;
            }

            @include breakpoint(xlarge) {
                padding: 0 240px;
            }
        }

        @include breakpoint(large) {
            .swiper-button-prev {
                left: 100px;
            }

            .swiper-button-next {
                right: 100px;
            }
        }

        @include breakpoint(xlarge) {

            .swiper-button-prev {
                left: 220px;
            }

            .swiper-button-next {
                right: 220px;
            }
        }
    }

    &.mag {
        .woodyGallery {
            @include breakpoint(large down) {
                position: relative;
            }

            >.cell {
                &:nth-of-type(2) {
                    @include breakpoint(large down) {
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }

        .patterned-item {
            z-index: 1;
        }

        .gallery-pattern {
            display: block;

            &.before {
                width: 65%;
                height: 40%;
            }

            &.after {
                width: 50%;
                height: 40%;
            }
        }

        .gallery-texts-wrapper {
            @include breakpoint(large) {
                padding-top: 20px;
            }
        }
    }

    &.tpl_212,
    &.tpl_214 {
        .gallery-texts-wrapper {
            @include breakpoint(large) {
                padding-left: 160px;
                padding-top: 20px;
            }
        }
    }

    &.tpl_213,
    &.tpl_214 {
        .woodyGallery {
            >.cell {
                &:nth-of-type(1) {
                    @include breakpoint(large down) {
                        margin-top: 160px;
                    }
                }
            }
        }
    }


    &.tpl_212 {
        @include breakpoint(large) {
            margin-top: 20px;
            margin-bottom: 90px;
        }

        .woodyGallery {
            >.cell {
                &:nth-of-type(1) {
                    @include breakpoint(large) {
                        transform: translateY(80px) translateX(40px) scale(1.1);
                    }

                    @include breakpoint(large down) {
                        margin-top: 120px;
                    }
                }

                &:nth-of-type(2) {
                    @include breakpoint(large down) {
                        right: 10px;
                        z-index: 1;
                    }
                }
            }
        }

        .gallery-pattern {
            &.before {
                left: 30%;
                top: -60px;
            }

            &.after {
                bottom: 50px;
                right: -80px;

                @include breakpoint(large down) {
                    bottom: auto;
                    top: 25%;
                }
            }
        }
    }

    &.tpl_213 {
        .woodyGallery {
            flex-direction: row-reverse;

            >.cell {
                &:nth-of-type(1) {
                    @include breakpoint(large) {
                        transform: translateY(120px) translateX(-80px) scale(1.1);
                    }
                }

                &:nth-of-type(2) {
                    @include breakpoint(large down) {
                        left: 0;
                        z-index: 1;
                    }
                }
            }
        }

        .gallery-pattern {
            &.before {
                right: 50%;
                top: -40px;

                @include breakpoint(large down) {
                    right: 50px;
                    top: -60px;
                }
            }

            &.after {
                bottom: 50px;
                left: -80px;

                @include breakpoint(large down) {
                    bottom: auto;
                    bottom: 35%;
                }
            }
        }

        .gallery-texts-wrapper {
            @include breakpoint(large) {
                text-align: right;
                padding-right: 200px;
            }
        }
    }

    &.tpl_214 {
        .woodyGallery {

            >.cell {
                &:nth-of-type(1) {
                    @include breakpoint(large) {
                        transform: translateY(120px) translateX(80px) scale(1.1);
                    }
                }

                &:nth-of-type(2) {
                    @include breakpoint(large down) {
                        right: 0;
                    }
                }
            }
        }

        .gallery-pattern {
            &.before {
                display: none;
            }

            &.after {
                bottom: -40px;
                right: -40px;

                @include breakpoint(large down) {
                    bottom: auto;
                    bottom: 25%;
                }
            }
        }
    }


}

.section-layout-wrapper.grid-container {
    .woody-component-gallery {
        &.tpl_111 {
            @include breakpoint(large) {
                .swiper-button-prev {
                    left: 40px;
                }

                .swiper-button-next {
                    right: 40px;
                }
            }

            @include breakpoint(xlarge) {

                .swiper-button-prev {
                    left: 70px;
                }

                .swiper-button-next {
                    right: 70px;
                }
            }
        }
    }
}
