.woody-component-geomap {
    .leaflet-popup-pane {
        .leaflet-popup {
            bottom: -10px !important;
            padding: 70px;
            @include breakpoint(medium down) {
                bottom: 75px !important; //leaflet popup display whole card
                left: -245px !important; //leaflet popup display next to map controls
            }
        }
    }

    .leaflet-popup-content {
        min-width: $geomap-popup-content-min-width;
        margin: 0 !important;

        .card {
            &-titles {
                text-align: $geomap-titles-text-align;
            }

            &-title {
                font-size: $geomap-title-font-size;
                transition: color .3s;
            }

            &-section {
                @include breakpoint(medium down) { //map translate 3D on leaflet popup short desc case
                    min-height: 275px;
                }
            }

            a[target="_blank"].card-link:after {
                content: none;
            }
        }
    }

    .leaflet-container a.leaflet-popup-close-button {
        top: 60px;
        right: 60px;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        width: 22px;
        border-radius: 30px;
        padding: 0;
        color: set-color($primary-color);
        transition: 0.3s;

        &:hover {
            background: $secondary-color;
            color: set-color($secondary-color);
        }
    }

    .leaflet-marker-icon {
        svg {
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .leaflet-popup-content-wrapper {
        box-shadow: 0 3px 10px rgba($black, 0.4);
    }

    .marker-index {
        top: 53%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1000;
        margin: 0 !important;
    }
}

