.hero {
    &-title {
        @extend .h1 !optional;
    }

    &-title,
    &-pretitle,
    &-subtitle,
    &-wicon {
        line-height: 1em;
    }

    &-bg {
        .backgroundMedia {
            min-height: 200px;
        }
    }

    &-wicon {
        font-size: rem-calc($hero-icon-size);
    }

    &-titles>img {
        max-width: 90px;
        margin-bottom: 20px;
    }

    &-description {
        @include breakpoint(medium down) {
            display: none !important;
        }
    }
}

.hero-texts {
    span {
        display: block;

        &:not(:nth-of-type(1)) {
            margin-top: 15px;
        }
    }
}

body:not(.no-page-header) {
    .woody-component-hero.tpl_01 .hero-titles {
        @include breakpoint(large) {
            opacity: 0;
            transition: opacity .3s .2s ease-in;
        }
    }
}

.woody-component-hero {

    @include breakpoint(xmedium down) {

        .heroMediaWrapper .videoObject-video,
        .heroMediaWrapper.videoObject {
            height: 100% !important;
        }
    }

    .backgroundMedia {

        &.movie,
        &.img {
            .rellax {
                height: 100%;
            }
        }
    }

    .imageObject {
        height: 100%;
    }

    .tagslist {
        top: $hero-tagslist-top;
        bottom: $hero-tagslist-bottom;
        left: $hero-tagslist-left;
        right: $hero-tagslist-right;

        &-item {
            display: flex;
            padding: 5px;
            line-height: 1;
            font-size: rem-calc($hero-tagslist-font_size);
            text-transform: $hero-tagslist-txt_transform;
            color: $white;
            border-radius: $hero-tagslist-radius;
            border: $hero-tagslist-border;

            flex-direction: $hero-tagslist-flex-dir;
            justify-content: center;
            align-items: center;

            span[class^="wicon-"] {
                font-size: $hero-tagslist-icon-size;
            }

            &:not(:nth-last-of-type(1)) {
                margin-right: 5px;
            }
        }
    }

    &.tpl_01 {

        .toggling-movie-container {
            @include breakpoint(large) {
                opacity: 0;
                transition: opacity .3s .2s ease-in;
            }
        }
    }

    &.tpl_04 {
        overflow: hidden;
        background-color: $splitHero-bgcolor;
        color: set-color($splitHero-bgcolor);

        >div:first-child {
            overflow: hidden;
        }

        .hero-titles {
            position: relative;
            z-index: 1;
        }

        .backgroundTitles {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: $hero-bgTitles-opacity;
        }

        .scrollDown {
            left: calc((100vw / 3) / 2);
            bottom: 0;
        }

        .videoObject-video,
        .backgroundMedia:not(.embed-plyr) {
            height: calc(100vw / 3) !important;
        }

        .plyr--video {
            min-height: calc(100vw / 3);
        }

        @include breakpoint(large down) {
            .scrollDown {
                left: calc((100vw / 2) / 2.5);
            }
        }
    }

    &.tpl_07 {
        .titles-wrapper {
            background-color: rgba($splitHero-bgcolor, .85);

            @include breakpoint(large) {
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 40vw;

                @include breakpoint(xxlarge) {
                    width: 33vw;
                }
            }
        }
    }

    &.tpl_10,
    &.tpl_11,
    &.tpl_14 {

        .scrollDown {
            display: none !important;
        }

        @include breakpoint(xlarge) {
            .bottomcenterBox {
                padding-bottom: 60px;
            }
        }
    }

    // Templates 15 & 16
    &.hero-blog-header {
        .titles-container {
            height: 40%;
            margin: 0 auto;

            @include breakpoint(large down) {
                @include xy-gutters($gutter-type: padding, $gutter-position: top bottom left right);
            }

            @include breakpoint(xlarge) {
                @include xy-gutters($gutter-type: padding, $gutter-position: top bottom);
            }

            @media screen and (min-width: #{$hero-blog-header-container-max-width-xlarge}) {
                max-width: rem-calc($hero-blog-header-container-max-width-xlarge);

            }

            @media screen and (min-width: #{$hero-blog-header-container-max-width-xxlarge}) {
                max-width: rem-calc($hero-blog-header-container-max-width-xxlarge);
            }
        }

        .tagslist {
            top: initial;
            bottom: 15px;
            right: 15px;
            left: initial;

            @media screen and (min-width: #{$hero-blog-header-container-max-width-xlarge}) {
                right: 0;
            }
        }

        .hero-bg {
            height: 60%;
            background-color: $black;
            opacity: 1;
            margin: 0 auto;

            @media screen and (min-width: #{$hero-blog-header-container-max-width-xlarge}) {
                max-width: rem-calc($hero-blog-header-container-max-width-xlarge);
            }

            @media screen and (min-width: #{$hero-blog-header-container-max-width-xxlarge}) {
                max-width: rem-calc($hero-blog-header-container-max-width-xxlarge);
            }

            .backgroundMedia {
                height: 100%;
            }
        }

        .videoObject {
            position: relative;
        }
    }

    &.fadingHero {
        .backgroundMedia {
            position: relative;
            height: 100vh;

            .heroMediaWrapper {
                position: absolute;
                min-width: 100%;
                background-color: $black;
                mask-image: linear-gradient(180deg, #000 calc(100% - var(--hero-gradient-size)), transparent 100%);
                -webkit-mask-image: linear-gradient(180deg, #000 calc(100% - var(--hero-gradient-size)), transparent 100%);
                -moz-mask-image: linear-gradient(180deg, #000 calc(100% - var(--hero-gradient-size)), transparent 100%);
            }

            &.movie {
                overflow: visible;

                video {
                    height: 100%;
                    width: 100%;
                }
            }

            @include breakpoint(large down) {
                .heroMediaWrapper {
                    height: 100%;
                }

                .imageObject-img {
                    height: 100%;
                    width: auto;
                    max-width: none;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .textsWrapper {
            @include breakpoint(xmedium) {
                width: 75%;
            }

            @include breakpoint(xlarge) {
                width: 50%;
            }
        }

        &.tpl_05 .textsWrapper {
            right: 0;
            left: auto;
            transform: translateX(0) translateY(-50%) translateZ(0);
        }

        @each $percent,
        $opacity in $opacities {
            &.bgimg-op#{$percent} {
                .backgroundMedia {
                    opacity: 1;

                    .heroMediaWrapper {

                        video,
                        img {
                            opacity: $opacity;
                        }

                        &:after {
                            content: '';
                            background-color: $black;
                            position: absolute;
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        .toggling-movie-container {
            @include breakpoint(xmedium down) {
                &.is-open {
                    border-bottom: 35px solid black;
                }

                .movie-toggle.close-button {
                    top: calc(100% + 10px);
                    right: 50%;
                    transform: translateX(50%);
                }
            }
        }
    }

    &:not(.tpl_04) {
        .plyr--video {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    // place text first in mobile view
    @include breakpoint(large down) {
        &.hero-text-right {
            flex-direction: column-reverse;
        }
    }

    // Define heigths of heros from image ratio
    @include breakpoint(medium) {

        &:not(.tpl_04):not(.tpl_07):not(.fadingHero):not(.hero-text-right):not(.hero-blog-header) {
            max-height: calc(100vw / 2) !important;
        }

        &.tpl_01,
        &.tpl_07,
        &.ratio-2-1,
        &.hero-full-height:not(.hero-blog-header) {
            .backgroundMedia {
                height: calc(100vw / 2);
                max-height: 100%;
            }
        }

        &.hero-text-right {
            .hero-text {
                height: 100%;
            }
        }

        &.tpl_02,
        &.ratio-4-1 {
            overflow: hidden;

            .backgroundMedia {
                @include breakpoint(xmedium) {
                    height: calc(100vw / 2);
                }

                @include breakpoint(large) {
                    height: calc(100vw / 4);
                }
            }
        }

        &.tpl_03 {
            overflow: hidden;

            .backgroundMedia {

                @include breakpoint(xmedium) {
                    height: calc(100vw / 2);
                }

                @include breakpoint(large) {
                    height: calc(100vw / 8);
                }
            }
        }
    }

    @include breakpoint(medium down) {
        .plyr__video-embed {
            height: 100vw;
        }
    }

    @include breakpoint(small only) {

        // .backgroundMedia,
        // .videoObject-video {
        //     height: 100vw !important;
        //     max-width: none;
        //     width: auto;
        //     position: relative;
        //     left: 50%;
        //     top: 0;
        //     transform: translateX(-50%);
        // }
    }
}

.toggling-movie-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;

    .movie-toggle {
        padding: map-get($movie-toggle-padding, small);
        background-color: $movie-toggle-bgcolor;
        color: $movie-toggle-color;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;

        .toggle-icon:before {
            display: block;
            font-family: "woody-icons";
            content: '\E005';
            font-size: 1.5em;
            margin-right: 8px;
        }

        @include breakpoint(medium down) {
            font-size: rem-calc(11);
        }

        @include breakpoint(large) {
            left: $movie-toggle-left-position;
            right: $movie-toggle-right-position;
            top: $movie-toggle-top-position;
            bottom: $movie-toggle-bottom-position;
            padding: map-get($movie-toggle-padding, large);
        }

        &.close-button {
            font-size: rem-calc(16);
            padding: 0;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            z-index: 10;
            bottom: auto;
            top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint(medium down) {
                font-size: rem-calc(12);
            }

            .toggle-icon:before {
                content: '\E01E';
                margin-right: 0;
            }

            .toggle-text {
                display: none;
            }
        }
    }


    .hidden {
        //NOTE: Depuis Chrome 77, l'élément est bien masqué par le transform mais reste devant toute la page et bloque les interactions
        opacity: 0;
        transform: scale(0);
        display: none;
    }
}

.woody-component-hero.has-moreImgs:not(.isRel) {
    position: relative;
}

.toggle-hero-more-imgs {
    top: 10px;
    right: 10px;
    background-color: rgba($white, .7);
    padding: 5px 10px;
    color: $black;
    z-index: 10;
}

.hero-more-imgs {
    .more {
        color: $white;
        background-color: rgba($black, .7);
        font-size: rem-calc(16);
        pointer-events: none;
    }
}

.hero-more-imgs-column {
    top: $hero-more-imgs-col-top;
    right: $hero-more-imgs-col-right;
    left: $hero-more-imgs-col-left;
    bottom: $hero-more-imgs-col-bottom;
    width: $hero-more-imgs-col-width;
    grid-gap: $hero-more-imgs-grid-gap;
}

.mozaic-hero {

    .backgroundMedia,
    .imageObject {
        height: 100%;
    }

    .hero-more-imgs {
        bottom: 0px;
        right: 15px;
        height: 70px;
    }
}

.woody-component-hero.tpl_17>.grid-container {
    @include breakpoint(xmedium down) {
        padding: 20px;

        >.grid-x {
            flex-direction: column-reverse;
            grid-gap: 15px;
        }

        .toggle-hero-more-imgs {
            top: 30px;
            right: 15px;
        }
    }

    @include breakpoint(xmedium) {

        .heroPlyr-wrapper,
        .heroPlyr-wrapper iframe,
        .videoObject,
        .videoObject-video {
            height: 100%;
        }
    }
}

.woody-component-hero.tpl_17 .videoObject {
    position: relative;
}
