.woody-component-interactive_gallery{
    .tooltip {
        display: inline;
        position: relative;
        z-index: 999;
        &.is-open{
            .tooltip-item{
                &:before{
                    transform-origin: 50%  51%;
                    transform:rotate(0deg);
                }
            }
        }
    }

    /* Trigger text */

    .tooltip-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        font-size: 1.5rem;
        height: 40px;
        color: $white;
        background-color: $black;
        border-radius: 50%;
        transform: rotate(0deg);
        &:before{
            transform:rotate(45deg);
            transition: transform 0.2s;
        }
    }


    /* Tooltip */

    .tooltip-content {
        position: absolute;
        z-index: -1;
        width: $tooltip-box-maxwidth;
        text-align: left;
        font-size: 0.765em;
        line-height: 1.4;
        box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
        background: $tooltip-text-background;
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }

    .tooltip-effect{
        position: absolute;
        z-index: 9999;
        .tooltip-content{
            @include tooltip-effect($tooltip-position, $tooltip-effect);
        }
    }

    /* Text container apparition */
    .tooltip.is-open .tooltip-content {
        pointer-events: auto;
        opacity: 1;
        transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    }
    .tooltip.tooltip-effect-2:hover .tooltip-content {
        transform: perspective(1000px) rotate3d(1,0,0,0deg);
    }

    /* Tooltip content*/

    .tooltip-content img {
        position: relative;
        height: 170px;
        display: block;
        float: left;
        margin-right: 1em;
    }

    .tooltip-text {
        display: block;
        padding: 1rem;
        color: $tooltip-text-color;
        p{
            margin: 0;
            font-size: 1rem;
        }
    }

    /* Text container positioning */
    @if $tooltip-position == 'top-left'{
        .tooltip-content{
            left: 50%;
            top: 50%;
            right: auto;
            bottom: auto;
        }
        .tooltip-effect{
            top: 20%;
            left: 20%;
        }
    }@else if $tooltip-position == 'top-right'{
        .tooltip-content{
            right: 50%;
            top: 50%;
            left: auto;
            bottom: auto;
        }
        .tooltip-effect{
            top:20%;
            right: 20%;
        }
    }@else if $tooltip-position == 'bottom-right'{
        .tooltip-content{
            right: 50%;
            bottom: 50%;
            left: auto;
            top: auto;
        }
        .tooltip-effect{
            bottom:20% ;
            right: 20% ;
        }
    }@else if $tooltip-position == 'bottom-left'{
        .tooltip-content{
            right: auto;
            bottom: 50%;
            left: 50%;
            top: auto;
        }
        .tooltip-effect{
            left:20% ;
            bottom: 20% ;
        }
    }
}
