body.is-top {
    .woody-component-sidemenu {
        background: $isTop-sideMenu-bg-color;
        box-shadow: none;
        transform: translateX(0) translateY(-50%);
        transition: transform 0.2s cubic-bezier(.75, -0.5, 0, 1.75);

        .menu {
            opacity: 1;
        }

        .sidemenu-link {
            color: rgba($isTop-sideMenu-link-color, 0.9);

            &:hover {
                color: rgba($isTop-sideMenu-link-color, 1);
            }
        }

        .arrow {
            opacity: 0;
        }
    }
}

body.scrolling-up {
    .woody-component-sidemenu {
        transform: translateX(0) translateY(-50%);

        .arrow {
            opacity: 0;
        }

        .menu {
            opacity: 1;
        }
    }
}

.woody-component-sidemenu {
    display: none;

    @include breakpoint(xlarge) {
        display: flex;
    }

    position: fixed;
    z-index: 1000;
    top: 50%;
    #{$sideMenu-position}: 0;
    height: $sideMenu-height;
    align-items: $sideMenu-align;
    transform: translateX($sideMenu-translate-closed) translateY(-50%);
    background: $sideMenu-bg-color;
    box-shadow: $sideMenu-box-shadow;
    border-radius: $sideMenu-border-radius 0 0 $sideMenu-border-radius;
    transition: all 0.6s cubic-bezier(.75, -0.5, 0, 1.75);

    @if $sideMenu-position==left {
        transform: translateX(-$sideMenu-translate-closed) translateY(-50%);
        border-radius: 0 $sideMenu-border-radius $sideMenu-border-radius 0;
    }

    &:hover {
        transform: translateX(0) translateY(-50%);

        .arrow {
            opacity: 0;
        }

        .menu {
            opacity: 1;
        }
    }

    .menu {
        opacity: 0;
        transition: opacity .2s;
        transition-delay: 0.3s;
    }

    .sidemenu-link {
        color: $sideMenu-link-color;
        display: flex;
        padding: $global-padding;

        &:hover {
            color: darken($sideMenu-link-color, 10%);
        }

        .wicon {
            font-size: $sideMenu-icon-font-size;
            transition: 0.2s ease-in-out;
        }

        .link-title {
            font-size: $sideMenu-title-font-size;
            font-weight: $sideMenu-title-font-weight;
            text-transform: $sideMenu-title-text-transform;
            margin-top: 0.5rem;
            transition: 0.2s ease-in-out;
        }
    }

    .arrow {
        top: 50%;
        #{$sideMenu-position}: $sideMenu-arrow-position;
        transform: translateY(-50%);
        font-size: $sideMenu-arrow-font-size;
        color: $sideMenu-arrow-color;
        transition: 0.2s ease-in-out;

        &::before {
            content: $sideMenu-arrow-icon;
        }

        @if $sideMenu-position==left {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}
