.woody-component-summary {
    .menu .active>a {
        background: transparent;
    }

    .anchor {
        display: flex !important;

        &.active,
        &:hover {
            .summary-item-index {
                @if $summary-item-index-reset-style==false {
                    color: $summary-item-color-hover;
                    background-color: $summary-item-bgcolor-hover;
                }
            }
        }
    }

    // Tabs
    .tabs {
        margin: 0;
        padding: 5px 10px;
        background-color: $white;
        border-radius: 25px;
        width: 75px;
        display: flex;
        justify-content: space-between;
        border: none;

        &::before,
        &::after {
            display: none;
        }

        .tabs-title>a {
            display: block;
            padding: 0;
            font-size: initial;
            line-height: 1;
            color: $black !important;
        }
    }

    .tabs-title {

        .wicon {
            font-size: 20px;
            position: relative;
            z-index: 1;
            transition: 0.3s ease-in-out;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                height: 45px;
                width: 45px;
                background-color: $black;
                border-radius: 50%;
                z-index: -1;
                opacity: 0;
                transition: 0.3s ease-in-out;
            }
        }

        &.list {
            .wicon {
                font-size: 14px;
            }
        }

        &.is-active {
            .wicon {
                color: $white;

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .tabs-content {
        border: none;
        transition: 0.3s ease-in-out;

        @include breakpoint(xmedium down) {
            display: none;
        }

        &.open {
            display: block;
        }

        .fixed-map-container {
            display: none;
        }

        .tabs-panel {
            padding: 0;
        }

        .tabs-panel#tab-list {
            padding: 20px;

            @include breakpoint(large) {
                padding: 30px;
            }
        }
    }

    .summary-switcher {
        top: 25px;
        right: 65px;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s ease-in-out;

        @include breakpoint(large) {
            right: 25px;
            opacity: 1;
        }

        &.show {
            opacity: 1;
        }
    }

    .summary-accordion-button {
        z-index: 1;
        cursor: pointer;

        @include root('.tpl_02', true) {
            top: 30px;
            right: 20px;
            transition: 0.4s ease-in-out;

            .summary-accordion-wrapper {
                height: 20px;
                width: 20px;
            }

            .bar {
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: $black;
                transform-origin: center center;
                transition: 0.4s ease-in-out;

                &:first-child {
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                &:last-child {
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(90deg);
                }
            }

            &.open {
                transform: rotate(360deg);

                .bar:last-child {
                    transform: translateX(-50%) translateY(-50%) rotate(0);
                }
            }
        }

        @include root('.tpl_03', true) {
            @include breakpoint(xmedium down) {
                position: absolute;
                top: calc(80px / 2);
                right: 20px;
                transform: translateY(-50%);
                transition: 0.3s ease;

                @include wicon(046-bas);

                &::before {
                    color: $summary-arrow-color;
                    font-size: $summary-arrow-font-size;

                    @include root-bg {
                        color: $white;
                    }
                }

                &.open {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    .summary-item-index {
        @if $summary-item-index-reset-style==false {
            height: $summary-item-size;
            width: $summary-item-size;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $summary-item-color;
            background-color: $summary-item-bgcolor;
            border-radius: $summary-item-border-radius;
            padding: 10px;
            transition: 0.3s ease-in-out;
        }

        font-size: $summary-item-font-size;
        font-weight: $summary-item-font-weight;
        margin-right: 10px;
    }

    &.is-horizontal-summary {
        .summary-item {
            display: flex;
            justify-content: center;
            align-items: stretch;
        }
    }

    &.isFixed {
        &.is-horizontal-summary {
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            transition: transform $headnavs-autohide-duration;

            @include root('.admin-bar') {
                top: 32px;
            }

            .summary-title {
                display: block;
                margin: 0;
                padding: 15px;
            }
        }

        @include root('.admin-bar') {
            @include breakpoint(xmedium down) {
                top: 32px !important;
            }
        }
    }

    &.tpl_02 {
        padding: 0;
        box-shadow:
            0 2.7px 3.6px rgba(0, 0, 0, 0.024),
            0 7.5px 10px rgba(0, 0, 0, 0.035),
            0 18.1px 24.1px rgba(0, 0, 0, 0.046),
            0 60px 80px rgba(0, 0, 0, 0.07);

        @include breakpoint(xmedium down) {
            height: 70px;

            .summary-title.fixed-mobile {
                left: 20px;
                margin-bottom: 0;
            }

            .summary-title.fixed-mobile,
            .summary-switcher {
                top: 20px;
            }

            .summary-accordion-button {
                top: 25px;
            }

            &.open {
                height: initial;
            }
        }

        @include breakpoint(large) {
            border-radius: $summary-border-radius;
            box-shadow: $summary-box-shadow;
        }

        .menu {
            @include breakpoint(xmedium down) {
                flex-direction: column;
                margin-top: 40px;
            }

            @include breakpoint(large) {
                display: flex;
                flex-direction: row;
            }
        }

        .summary-item {
            @include breakpoint(large) {
                flex-basis: calc(100% / 2);
            }
        }

        .summary-item-index {
            &.show-on-scroll {
                display: none;
            }
        }

        .anchor {
            border: none !important;
            padding: 0.75rem 1rem 0.75rem 0;
        }

        &.isFixed {
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            width: 100vw;

            @include breakpoint(large) {
                top: 50%;
                left: initial;
                #{$summary-side-fixed-position}: 10px;
                transform: translateY(-50%);
                border-radius: $summary-side-fixed-border-radius;
                padding: 5px;
                width: initial;

                ul.menu {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 0;
                }

                .anchor {
                    padding: 0.25rem;
                    position: relative;

                    &:after {
                        position: absolute;
                        content: attr(data-title);
                        top: 50%;
                        #{$summary-side-fixed-position}: calc(100% + 1rem);
                        transform: translateX(-5px) translateY(-50%);
                        font-size: $summary-side-title-font-size;
                        font-weight: $summary-side-title-font-weight;
                        color: $summary-side-title-color;
                        background-color: $summary-side-title-bgcolor;
                        border-radius: $summary-side-title-border-radius;
                        padding: $summary-side-title-padding;
                        pointer-events: none;
                        opacity: 0;
                        width: max-content;
                        z-index: 1;
                        transition: 0.3s ease;
                    }

                    &:hover {
                        &::after {
                            transform: translateX(0) translateY(-50%);
                            opacity: 1;
                        }
                    }
                }

                .summary-switcher,
                .summary-title,
                .anchor .title,
                .summary-map-wrapper {
                    display: none;
                }

                .tabs-content {
                    margin-top: 0;

                    .tabs-panel#tab-list {
                        display: block !important;
                        padding: 0;
                    }

                    .tabs-panel#tab-map {
                        display: none;
                    }
                }

                .summary-item-index {
                    margin-right: 0;

                    &.show-on-scroll {
                        display: flex;
                    }
                }
            }

            .fixed-map-container {
                display: block;
                padding: 0.25rem;

                .fixed-map-button {
                    cursor: pointer;
                    height: $summary-item-size;
                    width: $summary-item-size;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $summary-item-color;
                    background-color: $summary-item-bgcolor;
                    font-size: $summary-item-font-size;
                    border-radius: $summary-item-border-radius;
                    transition: 0.3s ease-in-out;

                    &.active,
                    &:hover {
                        color: $summary-item-color-hover;
                        background-color: $summary-item-bgcolor-hover;
                    }
                }

                .fixed-map-wrapper {
                    position: absolute;
                    top: 50%;
                    #{$summary-side-fixed-position}: calc(100% + 15px);
                    transform: translateX(30px) translateY(-50%);
                    height: 225px;
                    width: 450px;
                    aspect-ratio: 2/1;
                    border-radius: $summary-border-radius;
                    box-shadow: $summary-box-shadow;
                    transition: 0.3s ease-in-out;
                    pointer-events: none;
                    opacity: 0;

                    &.show {
                        pointer-events: auto;
                        opacity: 1;
                        transform: translateX(0) translateY(-50%);
                    }

                    &>div {
                        height: 100%;
                        width: 100%;
                        border-radius: $summary-border-radius;
                    }

                    .leaflet-control-container {
                        display: none;
                    }
                }
            }
        }
    }

    &.tpl_03 {
        @include breakpoint(xmedium down) {
            height: 80px;
            overflow: hidden;

            &.open {
                height: initial;
                overflow: initial;
            }
        }

        @include breakpoint(large) {
            width: $summary-max-width;
            border-radius: $summary-border-radius;
            box-shadow: $summary-box-shadow;

            @if $summary-side-fixed-position==right {
                margin-left: auto;
            }
        }

        .menu {
            @include breakpoint(xmedium down) {
                margin-top: -18px;

                li {
                    order: 1;

                    &.active {
                        order: 0;
                    }
                }
            }
        }

        &.open {
            .menu {
                @include breakpoint(xmedium down) {
                    display: flex;
                }
            }
        }

        .anchor {
            display: inline-flex !important;
            border: none !important;
            padding: 0.75rem 1rem 0.75rem 0;
        }

        .scroller {
            display: none !important;
        }

        &.isFixed {
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            width: 100vw;

            @include breakpoint(large) {
                top: 50%;
                left: initial;
                #{$summary-side-fixed-position}: 10px;
                transform: translateY(-50%);
                width: $summary-max-width;
            }
        }
    }

    .summary-map-wrapper {
        height: 300px;

        &>div {
            height: 100%;
            width: 100%;

            @include breakpoint(large) {
                border-radius: $summary-border-radius;
            }

            .leaflet-control-container {
                display: none;
            }
        }
    }

    .leaflet-marker-icon {
        .summary-geomap-anchor {
            position: relative;

            svg {
                display: none;
            }

            &:after {
                position: absolute;
                content: attr(data-index);
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: $summary-geomap-anchor-height;
                width: $summary-geomap-anchor-height;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $summary-geomap-anchor-bg-color;
                border-radius: $summary-geomap-anchor-border-radius;
                border: $summary-geomap-anchor-border;
                font-weight: $summary-geomap-anchor-font-weight;
            }
        }
    }
}

body.scrolling-up {
    .woody-component-summary.is-horizontal-summary {
        &.isFixed {
            transform: translateY($summary-fixed-position);
        }
    }
}

.section-layout-wrapper {
    .woody-component-summary.is-horizontal-summary {
        &.isFixed {
            width: 100vw;
        }
    }

    &.grid-container {
        .woody-component-summary.is-horizontal-summary {
            &.isFixed {
                @include breakpoint(xlarge) {
                    width: calc(#{$global-width} - #{map-get($grid-column-gutter, medium)});
                }
            }
        }
    }
}
