.woody-component-basic-swiper {
    width: 100%;

    @include breakpoint(large) {
        .zoomActive {
            &.nopadding {
                .swiper-slide-prev {
                    transform-origin: right;
                }

                .swiper-slide-next {
                    transform-origin: left;
                }
            }
        }
    }
}

.woody-component-landswpr {
    .landswpr {
        &-titles {
            >img {
                max-width: 90px;
                margin: 0 auto 20px auto;
            }
        }

        &-title {
            @extend .h1 !optional;
        }

        &-wicon {
            font-size: #{rem-calc($wicon-landswpr-size)};
        }

        &-pretitle,
        &-subtitle {
            @extend .h3 !optional;
        }

        &-description {
            @extend .h6 !optional;
            @include xy-gutters($gutters: 50px, $gutter-position: bottom);
        }

        &-links-wrapper {
            @include xy-gutters($gutters: 40px, $gutter-position: top);
        }

        &-link {
            @include xy-gutters($gutters: 30px, $gutter-position: right);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .plyr--video {
        opacity: 0;
        transition: opacity .3s;

        &.playing {
            opacity: 1;
        }
    }

    .landSwprPlyr {
        opacity: 0;

        &-thumbnail {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: auto;
            z-index: -1;
        }
    }

    .toggling-movie-container.embed-plyr {
        .plyr--video {
            opacity: 1;
        }

        .plyr__video-wrapper {
            transform: unset;
            top: unset;
        }
    }

    .media-op90 {
        .landswprMediaWrapper {
            opacity: .9;
        }
    }

    .media-op75 {
        .landswprMediaWrapper {
            opacity: .75;
        }
    }

    .landswpr-search-form {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .input-group-field {
            min-width: 220px;
            border: $landswpr-search-field-border;
            background-color: $landswpr-search-field-bgcolor;
            color: set-color($landswpr-search-field-bgcolor);

            @include placeholder {
                font-style: $landswpr-search-field-placeholder-style;
                color: $landswpr-search-field-placeholder-color;
            }

            @include breakpoint(large) {
                min-width: 360px;
            }
        }

        .input-group-button {
            position: relative;
            width: 60px;
            @include wicon(053-loupe-par-defaut);

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: rem-calc(16);
                z-index: 2;
                pointer-events: none;
            }

            .button {
                position: absolute;
                border: $landswpr-search-button-border;
                background-color: $landswpr-search-button-bgcolor;
                color: set-color($landswpr-search-button-bgcolor);
                font-size: 0;
                width: 100%;
                height: 100%;

                &:hover {
                    background-color: darken($landswpr-search-button-bgcolor, 7%);
                }
            }
        }
    }

    &.fadingSwiper {
        .swiper-slide:after {
            display: block;
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 45%;
            z-index: 1;
            background: linear-gradient(to top, $white 12%, transparent);

            // @include breakpoint(medium down) {
            //     height: 40%;
            // }
        }

        @include breakpoint(medium down) {
            height: 115vh;

            .swiper-slide:not(.slide-type-embed) {
                height: 115vh;
            }
        }

        @include breakpoint(large) {
            height: 150vh;
        }
    }


    &.tpl_06,
    &.tpl_09 {
        .landswpr-titles {
            margin-bottom: 30px;

            @include breakpoint(large) {
                margin-bottom: 80px;
            }
        }
    }

    &.tpl_07 {
        .landswpr-titles-wrapper {
            // Text aligned to left in 100% width box but div is in border-box:content-box, so we won't see the padding without max width
            max-width: calc(100% - 60px);
            padding-top: 60vh;
        }
    }

    .landSwprPlyr,
    .plyr--video {
        height: 100%;
    }

    .plyr__video-wrapper {
        @include breakpoint(large) {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

body:not(.no-page-header) {
    .landswpr-titles {
        @include breakpoint(1025px) {
            opacity: 0;
            transition: opacity .3s .2s ease-in;
        }
    }
}

// Responsive stuff
.woody-component-landswpr {
    height: 100%;
    overflow: hidden;

    .woody-landing-swiper {
        height: 100%;
    }

    @media screen and (max-width: 1024px) {
        .swiper-slide:not(.slide-type-embed) {
            padding-top: 0;
            padding-bottom: 0;
            height: 100vw;
            max-height: 100vh;
        }
    }

    @include breakpoint(large down) {
        .swiper-slide {
            .imageObject {
                height: 100%;

                >img {
                    max-width: none;
                    width: auto;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .videoObject.landswprMediaWrapper {
        @include breakpoint(xlarge down) {
            position: relative;
            height: 100%;

            .videoObject-video {
                height: 100% !important;
                position: absolute;
            }
        }
    }
}

.woody-component-landswpr.tpl_02 {
    .swiper {
        &-slide {
            position: relative;
        }

        &-pagination {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            transition: .3s opacity;
            z-index: 10;

            &-bullets {
                bottom: 7.5% !important;
                left: 0;
            }

            &-item {
                display: flex;
                align-items: center;

                .pagination-number {
                    opacity: 0.5;
                }

                &:hover,
                &:focus {
                    cursor: pointer;
                    outline: 0;

                    .pagination-number {
                        opacity: 0.75;
                    }
                }

                &:last-of-type {
                    .pagination-separator {
                        width: 0;
                    }
                }

                &.active {
                    .pagination-number {
                        opacity: 1;
                    }

                    .pagination-separator {
                        width: 10vw;
                    }

                    .pagination-separator-loader {
                        transform: scaleX(1);
                        transition: all 5s linear;
                    }
                }
            }
        }
    }

    .landswprMediaWrapper {
        background: $black;

        .imageObject-img,
        .videoObject-video {
            opacity: 0.75;
        }
    }

    .landswpr-titles-wrapper {
        @include position(absolute, 0, null, null, 0);
        @include padding(null, 2, null, 2);
        width: 100%;
        height: 100%;

        >.grid-container {
            height: 100%;
        }
    }

    // Pagination
    .pagination-number {
        color: $white;
        font-size: 1.8rem;
        transition: all .3s ease;
        @include padding(null, 0.5, null, 0.5);

        @include breakpoint(large) {
            font-size: 2.6rem;
            @include padding(null, 1, null, 1);
        }
    }

    .pagination-separator {
        display: none;

        @media (min-width: 45em) {
            display: block;
        }

        position: relative;
        width: 40px;
        height: 2px;
        background: rgba($white, 0.25);
        transition: all .3s ease;

        &-loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            transform-origin: 0 0;
            transform: scaleX(0);
            transition: all 0.3s ease;
        }
    }

}

.woody-component-landswpr.tpl_03 {
    .landswpr-link {
        position: relative;
        z-index: 1;
    }

    .swiper {
        &-slide {
            position: relative;
            // width: 90%;

            &:after {
                content: '';
                @include position(absolute, 0, null, null, 0);
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                margin: 1rem;
                box-sizing: border-box;
                @include bordered(1px, solid, $white);

                @include breakpoint(medium down) {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }
        }

        &-pagination {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            transition: .3s opacity;
            z-index: 10;

            @include breakpoint(medium down) {
                position: relative;
            }

            @include breakpoint(small down) {
                display: none;
            }

            &-bullets {
                left: 0;
                bottom: 1rem;

                @include breakpoint(medium down) {
                    top: 0;
                    padding-bottom: 1rem;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-grow: .1;

                @include breakpoint(medium down) {
                    flex-direction: column-reverse;
                }

                .pagination-pretitle {
                    @include header-size(h6);
                    font-weight: $global-weight-normal;

                    @include breakpoint(large down) {
                        font-size: 90%;
                    }

                    @include breakpoint(medium down) {
                        order: 2;
                    }
                }

                .pagination-title {
                    color: $white;
                    @include header-size(h4);
                    font-family: $header-font-family;
                    text-transform: uppercase;
                    transition: all .3s ease;
                    padding-bottom: $global-padding;


                    @include breakpoint(large down) {
                        font-size: 90%;
                        padding: 0;
                    }

                    @include breakpoint(medium down) {
                        order: 1;
                    }
                }

                .pagination-separator {
                    @include breakpoint(medium down) {
                        order: 3;
                    }
                }

                .pagination-title,
                .pagination-pretitle {
                    opacity: 0.75;
                }

                &:hover,
                &:focus,
                &.active {
                    cursor: pointer;
                    outline: 0;

                    .pagination-title,
                    .pagination-pretitle {
                        opacity: 1;
                    }
                }

                &.active {
                    .pagination-separator {
                        width: 2px;

                        &.onPause {
                            .pagination-separator-loader {
                                // animation-play-state: paused;
                                transform: scaleY(1);
                                transition: transform .5s linear;
                            }
                        }
                    }

                    .pagination-separator-loader {
                        transform: scaleY(1);
                        transition: transform 5s linear;
                        // animation: progress 5s linear;
                        // @keyframes progress {
                        //     from {
                        //         transform: scaleY(0);
                        //     }
                        //     to {
                        //         transform: scaleY(1);
                        //     }
                        // }
                    }
                }
            }
        }
    }

    .landswprMediaWrapper {

        .imageObject-img,
        .videoObject-video {
            opacity: 0.75;
        }
    }

    .landswpr-titles-wrapper {
        @include position(absolute, 0, null, null, 0);
        width: 100%;
        text-align: center;
        height: 100%;



        >.grid-container {
            height: 100%;
        }
    }

    .pagination-separator {
        display: block;
        position: relative;
        height: 50px;
        width: 1px;
        background: rgba($white, .5);
        transition: all .25s ease-in;

        &-loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $primary-color;
            transform-origin: 0 100%;
            transform: scaleY(0);
            transition: all .25s ease-in;
        }
    }
}

.woody-component-landswpr.tpl_09 {

    .landswpr-titles,
    .landswpr-links-wrapper {
        padding-right: $global-padding;
    }
}

.woody-landing-swiper.swiper-container {
    &.navigation-bottom-left {
        .swiper-navigation {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: $navigation-bottom-left-mobile-direction;

            @include breakpoint(xxlarge) {
                flex-direction: $navigation-bottom-left-direction;
            }

            .swiper-button {

                &-prev,
                &-next {
                    position: relative;
                    left: inherit;
                    right: inherit;
                    top: inherit;
                    margin: 0;
                    background-color: $navigation-bottom-left-background-color;
                    height: $navigation-bottom-left-mobile-size !important;
                    width: $navigation-bottom-left-mobile-size !important;

                    @include breakpoint(xxlarge) {
                        height: $navigation-bottom-left-size !important;
                        width: $navigation-bottom-left-size !important;
                    }

                    &>i {
                        color: $navigation-bottom-left-arrow-color;
                        font-size: $navigation-bottom-left-arrow-mobile-size;

                        @include breakpoint(xxlarge) {
                            font-size: $navigation-bottom-left-arrow-size;
                        }
                    }
                }

                &-prev {
                    margin-bottom: 1px;
                }
            }
        }
    }

    &.pagination-bottom-left {
        .swiper-pagination {
            width: auto !important;
            left: $navigation-bottom-left-mobile-size;
            margin-left: 10px;
            bottom: 10px;

            @if $navigation-bottom-left-mobile-direction=="row" {
                left: $navigation-bottom-left-mobile-size * 2;
            }

            @include breakpoint(xxlarge) {
                left: $navigation-bottom-left-size;
            }
        }
    }

    &.pagination-vertical {
        .swiper-pagination {
            display: flex;
            flex-direction: $swiper-pagination-vertical-mobile-direction;

            @include breakpoint(xxlarge) {
                flex-direction: column;
            }

            .swiper-pagination-bullet {
                margin: 5px;
            }
        }
    }
}

// Set default colors to bullets
.swiper-pagination.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        transition: all ease-in-out .2s;
        opacity: .95;
        background-color: $white;

        &.active {
            background-color: $primary-color;
        }
    }
}
