.woody-component-movie {
    .plyr {
        &__poster {
            pointer-events: none;
        }
    }

    .plyr--video {
        border-radius: $global-radius;
    }

    .movie-title,
    .movie-caption {
        display: block;
        text-align: $movie-text-align;
    }

    .movie-title {
        @extend #{$movie-title-hstyle};
        margin-bottom: 10px;
        padding: $movie-title-padding;
        background-color: $movie-title-bgcolor;
    }

    .movie-caption {
        padding: $movie-caption-padding;
        background-color: $movie-caption-bgcolor;
        color: set-color($movie-caption-bgcolor);
    }
}
