.weatherDay {
    &-infos {
        background: $light-gray;
    }

    &-summary {
        padding: 30px 15px;
        text-align: center;

        .sky {
            text-transform: uppercase;
            font-size: rem-calc(12);
            margin-top: 20px;
        }

        .weather-main {
            margin-bottom: -20px;
        }

        .weather-icon {
            font-size: rem-calc(92);
            line-height: 1em;
            transform: translateY(-5px);
        }

        .temperature {
            font-weight: bold;
            font-size: rem-calc(24);
            margin-top: -20px;
        }

        .more-infos small {
            display: block;
        }
    }

    &-details {
        padding: 15px 5px;
        text-align: center;

        .name {
            font-weight: bold;
            font-size: rem-calc(12);
        }

        .weather-icon {
            margin-top: -10px;
            font-size: rem-calc(54);
        }

        .temperature {
            margin-top: -10px;
            font-weight: bold;
            font-size: rem-calc(13);
        }
    }
}
