.plo-avatar {
    border-radius: 50%;
    border: 1px solid $input-border;
    box-shadow: 0 0 0 4px white inset;
    background: $gray-lighter;

    &--placeholder {
        background-image: url('../images/avatar-placeholder.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: $input-border;
    }
}
