/*------------------------------------*\
    - GLUE
\*------------------------------------*/
/**
 * Vertically align elements, and maintains their position
 * whathever viewport width is
 */
.plo-glue {
    display: table !important;
    width: 100%;
    height: 100%;

    &>* {

        &,
        &> :last-child {
            margin-bottom: 0 !important;
        }

        & {
            display: table-cell !important;
            float: none !important;
        }
    }

    &--top>* {
        vertical-align: middle;
    }

    &--middle>* {
        vertical-align: middle;
    }

    &--bottom>* {
        vertical-align: bottom;
    }
}
