<div class="snowdepth-wrapper flex-container align-center align-middle">
    <div class="snowdepth-icon">
        <span class="wicon wicon-006-station-montagne"></span>
    </div>
    <div class="snowdepth-levels">
        <div class="max">
            <span class="value val" w-tooltip-up="{{ databloc.data.altitude.max ~ 'm' }}">{{ databloc.data.snow_depth.max ~ '<small>cm</small>' }}</span>

        </div>
        <div class="min">
            <span class="value val" w-tooltip-down="{{ databloc.data.altitude.min ~ 'm' }}">{{ databloc.data.snow_depth.min ~ '<small>cm</small>' }}</span>
        </div>
    </div>
</div>
