.backgroundMedia {
    z-index: 0;
    &:not(.movie) {
        pointer-events: none;
    }

    &.movie {
        overflow: hidden;

        video {
            object-fit: cover;
        }
    }
}

.bgimg-op {
    @include bgimg-op;
}
