.backgroundMedia {
    z-index: 0;

    &:not(.movie):not(.plyr-embed):not(.embed-plyr) {
        pointer-events: none;
    }

    &.movie {
        overflow: hidden;

        video {
            object-fit: cover;
        }
    }
}

.bgimg-op {
    @include bgimg-op;
}
