.backgroundMedia {
    z-index: 0;

    figure {
        pointer-events: none;
    }

    &.movie {
        overflow: hidden;

        video {
            object-fit: cover;
        }
    }
}

.bgimg-op {
    @include bgimg-op;
}
