.button[type='submit'] {
    background-color: $submit-bgcolor;
    color: $submit-color;
    border: $submit-border-style $submit-border-width $submit-border-color;

    &:hover {
        background-color: darken($submit-bgcolor, 7%);
    }
}

.reset-button[type='submit'] {
    color: $reset-color;
    background-color: $reset-bgcolor;
    border: $reset-border-style $reset-border-width $reset-border-color;

    &:hover {
        border-color: darken($reset-border-color, 7%);
        background-color: $reset-bgcolor;
    }
}

.flatpickr-calendar.open {
    z-index: 1000000 !important;
}
