.no-js img.lazyload {
    display: none;
}

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.imageObject {
    overflow: hidden;
    width: 100%;
}

.woody-component-eyecandy,
.woody-component-focus {
    .imageObject-img:hover~.imageObject-caption {
        opacity: 0;
        transform: translateY(10%);
    }
}

.bgImageObject {
    background-size: cover;
    background-position: center center;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}
