.numberUpDown {
    display: flex;
    align-items: center;

    [class*="button-"] {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: $numberUpDown-button-radius;
        color: $numberUpDown-button-color;
        background-color: $numberUpDown-button-bgcolor;
        width: $numberUpDown-button-size;
        height: $numberUpDown-button-size;
        line-height: 1em;
        font-size: rem-calc(18);
        cursor: pointer;
        transition: color .3s, background-color .3s;

        &:hover {
            color: $numberUpDown-button-hover-color;
        }

        &:nth-of-type(1) {
            margin-right: 10px;
        }

        &:nth-last-of-type(1) {
            margin-left: 10px;
        }

        >.action {
            display: block;
            transform: translateY(-2px);
        }
    }

    input[type="number"] {
        width: auto;
        margin: 0;
    }
}
