.reveal {
    z-index: 100000;
    box-shadow: 0 5px 25px rgba($black, .3);

    &:focus {
        outline: none;
    }

    >.flex-container {
        height: 100%;
    }

    .close-button {
        font-size: 3em;
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 7%);
        }

        small {
            font-size: 16px;
            display: block;
            float: left;
            padding: 20px 5px;
        }
    }

    &.large {
        height: 80vh;
    }
    &.full {
        left: 0 !important;
        box-shadow: 0 5px 25px 15px rgba($black, .3);
        margin: 10px !important;
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
        min-height: calc(100vh - 20px);

        @include breakpoint(large) {
            margin: 20px !important;
            width: calc(100vw - 40px);
            height: calc(100vh - 40px);
            min-height: calc(100vh - 40px);
            top: -20px;
            left: -20px;
        }
    }

    &.large,
    &.full {
        iframe {
            min-height: 100%;
        }
    }

    &-overlay {
        z-index: 10000;
    }
    > .content-wrapper {
        height: 100%;
    }
}
