// Globals
.swiper-container {
    @include breakpoint(large up) {

        &.zoomActive {
            @include breakpoint(large) {
                -webkit-font-smoothing: antialiased;

                .swiper-wrapper {
                    transform-style: preserve-3d;
                }

                .swiper-slide {
                    transition: transform .3s ease, opacity .3s ease;

                    &:not(.swiper-slide-active) {
                        transform: scale(calc(#{$swiper-zoomActive-scale} * 0.01));

                        .imageObject {
                            transition: filter .3s ease;

                            @if $grayScale-zoomActive-swiper {
                                filter: $swiper-zoomActive-grayscale;
                            }
                        }
                    }


                    &:not(.swiper-slide-visible):not(.swiper-slide-active) {
                        transition-duration: .3s, .3s, .3s;
                        opacity: 0;
                    }

                    &.swiper-slide-active {
                        z-index: 1;

                        @if $swiper-zoomActive-shadow {
                            //padding-bottom: 30px; //Without equalizer it makes a lil glitch

                            &:before {
                                display: block;
                                content: '';
                                position: absolute;
                                top: 10px;
                                left: 0;
                                width: 100%;
                                height: calc(100% - 30px);
                                background-color: rgba($black, .2);
                                filter: blur(7px);
                            }
                        }
                    }
                }
            }
        }
    }

    .grid-x {
        box-sizing: border-box;
    }
}

.swiper-wrapper {
    display: flex;
    align-items: flex-start;

    &.disabled {
        transform: translate3d(0px, 0, 0) !important;
    }
}

.swiper-pagination,
.swiper-navigation {
    &.disabled {
        display: none;
    }
}

// Slide
.swiper-slide {
    .swiperOut {
        margin: 0 60px;
    }
}

// Thumbs
.swiper-thumbs {
    margin-top: 5px;

    @include breakpoint(large) {
        position: absolute;
        width: 50%;
        margin: 0;
        bottom: 40px;
        left: 30px;
    }

    @include breakpoint(xlarge) {
        bottom: 40px;
        left: 30px;
    }

    .swiper-slide {
        background-color: $swiper-thumbs-bgColor;
        @include wicon($swiper-thumbs-icon, after);

        .imageObject {
            height: 100%;
        }

        .imageObject-caption {
            display: none;
        }

        img {
            filter: grayscale(50%);
            transition: all .25s ease-in;
        }

        &:after {
            @include fullcenterBox;
            color: $white;
            opacity: 0;
            @include header-size(h5);
            transition: opacity .25s ease-in;
        }


        &:not(.duplicate).swiper-slide-thumb-active,
        &:hover {
            img {
                opacity: .4;
                filter: grayscale(0);
            }
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}

// Responsive stuff
.section-layout-wrapper.grid-container {

    .woody-mobile-swiper,
    .woody-swiper {
        &:not(.swResp) {
            @include breakpoint(xmedium down) {
                padding-left: 30px;
                padding-right: 30px;

                .swRespS,
                .swiper-slide {
                    box-sizing: border-box;
                    @include xy-gutters($gutter-type: padding, $gutter-position: top right bottom left);
                }

            }

            @include breakpoint(xmedium only) {

                .swiper-slide,
                .swResp {
                    &:not(.multirows):not(.full) {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.woody-mobile-swiper .swiper-container {
    @include breakpoint(large) {
        overflow: visible;
    }
}

.woody-mobile-swiper {
    @include breakpoint(xmedium down) {
        padding: 0 30px !important;

        .woody_bases_grid,
        .swRespW {
            margin-left: 0;
        }
    }
}

.section-layout-wrapper.grid-container {

    .woody-mobile-swiper,
    .woody-swiper {
        &.woody-swiper-grid-container:not(.swResp) {
            @include breakpoint(xmedium down) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.woody-swiper-grid-container:not(.swResp) {
    .swRespGrid {
        .swRespGridS {
            width: 50%;

            @include breakpoint(xmedium) {
                width: calc(100% / 3);
            }
        }
    }
}

// Navigation
.swiper-button-next,
.swiper-button-prev {
    width: auto !important;
    height: auto !important;
    padding: 15px;
    background-image: none !important;

    &:focus {
        outline: none;
        background-color: rgba(#000, .2);
    }

    >.wicon {
        color: #fff;
        font-size: 12px;

        @include breakpoint(medium) {
            font-size: 20px;
        }
    }

    &.swiper-button-disabled {
        pointer-events: auto !important;
        filter: grayscale(100%);
    }
}

.wgGallery {
    .swiper-button-next {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    }

    .swiper-button-prev {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    }
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

// display controls outside swiper in absolute position
.controlsAbs {
    @include breakpoint(large) {
        .swiper {
            &-container {
                padding-top: 60px;
            }

            &-controls {
                position: absolute;
                top: 0;
                right: 30px;
                transform: translateY(10px);
                z-index: 10;
            }

            &-button-prev,
            &-button-next {
                left: auto;
                right: 0;

                .wicon {
                    color: $black;
                }
            }

            &-button-prev {
                right: 60px;
            }
        }
    }
}

// Pagination
.swiper-pagination {
    left: 0;
    bottom: 15px;
    right: auto;

    &.swiper-pagination-bullets {
        width: 100% !important;

        .swiper-pagination-bullet {
            margin: 0 4px;
            opacity: $swiper-bullet-opacity;
            background-color: $swiper-bullet-color;
            border-radius: $swiper-bullet-radius;
            transition: .2s transform, .2s left;

            &-active {
                background-color: $swiper-bullet-color-active;
                opacity: 1;
            }
        }
    }

    &.swiper-pagination-fraction {
        width: 100%;
        font-size: $swiper-fraction-size;
        color: $swiper-fraction-color;
        font-family: $swiper-fraction-font-family;
        line-height: 1;

        .swiper-pagination-current {
            font-weight: $swiper-fraction-weight;
        }

        .swiper-pagination-total {
            font-size: $swiper-fraction-size * .8;
            font-weight: $swiper-fraction-weight;
            opacity: $swiper-fraction-total-opacity;
            margin-left: $global-margin * .4;

            &:before {
                content: $swiper-fraction-separator;
                position: relative;
                color: currentColor;
            }
        }
    }

    &.swiper-pagination-progressbar {
        width: 50%;
        max-width: $swiper-progressbar-width;
        height: $swiper-progressbar-height;
        left: calc(50% - #{$swiper-progressbar-width} / 2);
        border-radius: $swiper-progressbar-radius;
        background-color: rgba($swiper-progressbar-color, $swiper-progressbar-opacity);

        .swiper-pagination-progressbar-fill {
            border-radius: $swiper-progressbar-radius;
            background-color: $swiper-progressbar-color-active;
        }
    }

    &.swiper-pagination-custom-bullets {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        bottom: 0;
        width: auto;

        .custom-pagination-item {
            pointer-events: none;
            position: absolute;
            opacity: 0;
            transition: opacity;

            .custom-pagination-loader {
                display: block;
                position: relative;
                height: 2px;
                width: 150px;
                border-radius: $global-radius;
                background: rgba($white, .5);

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: transform #{var(--swiper-autoplay)} #{var(--swiper-speed)};
                }
            }

            &.active {
                opacity: 1;

                .custom-pagination-loader {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.swiperOverflow {
    @include breakpoint(large) {
        &.left {
            @each $swiper-size in $swiper-sizes {
                &.#{$swiper-size} {
                    @include swiperOverflow($right: false, $size: $swiper-size);
                }
            }
        }

        &.right {
            @each $swiper-size in $swiper-sizes {
                &.#{$swiper-size} {
                    @include swiperOverflow($left: false, $size: $swiper-size);
                }
            }
        }

        &.left.right {
            @each $swiper-size in $swiper-sizes {
                &.#{$swiper-size} {
                    @include swiperOverflow($size: $swiper-size);
                }
            }
        }

        &.shade {
            .swiper-slide:not(.swiper-slide-visible):not(.swiper-slide-active) {
                opacity: $swiperOverflow-opacity;
            }
        }
    }
}

.section-layout-wrapper.grid-container {
    .swiperOverflow {
        @include breakpoint(large) {


            &.left {
                @each $swiper-size in $swiper-sizes {
                    &.#{$swiper-size} {
                        @include swiperOverflow($right: false, $size: $swiper-size, $context: contained);
                    }
                }
            }

            &.right {
                @each $swiper-size in $swiper-sizes {
                    &.#{$swiper-size} {
                        @include swiperOverflow($left: false, $size: $swiper-size, $context: contained);
                    }
                }
            }

            &.left.right {
                @each $swiper-size in $swiper-sizes {

                    &.#{$swiper-size} {
                        @include swiperOverflow($size: $swiper-size, $context: contained);
                    }
                }
            }
        }
    }
}

.section-layout-wrapper:not(.grid-container) {
    .swiperJustified {

        @include breakpoint(large) {
            margin-left: auto;
            max-width: calc(100vw - #{$justifiedSwiperBlankSpace});
        }

        @include breakpoint(xlarge) {
            margin-left: auto;
        }
    }

    .woody-component-tabs.tpl_vertical {
        .swiperJustified {
            @include breakpoint(large) {
                margin-left: 0;
                width: calc(100% + #{map-get($grid-column-gutter, medium)});
            }
        }
    }
}

// Responsive
.swResp {
    @include breakpoint(xmedium down) {
        width: calc(100% + 25px) !important;
        margin-left: -15px !important;
        padding: 0 30px !important;
    }

    @include breakpoint(xmedium down) {
        &.no-padding {
            @include wicon(025-suivant, after);
            @include wicon(026-precedent, before);

            &:before,
            &:after {
                display: flex;
                align-items: center;
                font-size: 10px;
                position: absolute;
                top: 5px;
                width: 12px;
                height: 24px;
                z-index: 10;
                background-color: rgba($white, .75);
                color: $primary-color;
            }

            &:before {
                border-radius: 20px 0 0 20px;
                right: 17px;
                justify-content: flex-end;
            }

            &:after {
                border-radius: 0 20px 20px 0;
                right: 5px;
                justify-content: flex-start;
            }
        }

        .swRespW {
            flex-wrap: nowrap !important;
            justify-content: flex-start;
        }

        .swiper-slide {
            height: auto;
        }
    }
}

.swiperOut {
    @include breakpoint(large) {
        padding-left: 60px;
        padding-right: 60px;

        &.swiperOut-left {
            padding-right: unset;
        }

        &.swiperOut-right {
            padding-left: unset;
        }


        >.isRel {
            .swiper-button-prev {
                left: -70px;
            }

            .swiper-button-next {
                right: -70px;
            }
        }

        .swiper-button-prev {
            left: -10px;
        }

        .swiper-button-next {
            right: -10px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            .wicon {
                color: $black;
            }
        }
    }
}

// Background management
.bg-secondary {
    .swResp+.swiper-controls .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
            border-color: $primary-color;
        }
    }
}

.bg-black,
.bg-darkgray,
.bg-secondary {
    .swResp+.swiper-controls .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        border-color: $white;
    }
}
