.the_pager {
    ul.page-numbers {
        display: inline-flex;
        list-style: none;
        margin: 0;
        @include xy-gutters($gutter-type: padding, $gutter-position:top bottom);

        .page-numbers {
            line-height: 1em;
            padding: $pageNumbers-padding;
            background-color: $pageNumbers-bgcolor;
            font-weight: $pageNumbers-font-weight;
            color: $pageNumbers-color;
            border-radius: $pageNumbers-radius;
            border: $pageNumbers-border-width $pageNumbers-border-style $pageNumbers-border-color;
            transition: color .3s, background-color .3s, border .3s;

            &:hover {
                background-color: $pageNumbers-hover-bgcolor;
                color: $pageNumbers-hover-color;
                border-color: $pageNumbers-hover-border-color;
            }

            &.current {
                background-color: $pageNumbers-current-bgcolor;
                color: $pageNumbers-current-color;
                border-color: $pageNumbers-current-border-color;
            }

            &.dots {
                border: none !important;
            }
        }
    }

    &.align-center {
        ul.page-numbers .page-numbers {
            margin: 0 3px;
        }
    }

    &.align-left {
        ul.page-numbers .page-numbers {
            margin-right: 6px;
        }
    }

    &.align-right {
        ul.page-numbers .page-numbers {
            margin-left: 6px;
        }
    }
}
