@mixin the_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 100%;
    height: 100%;
    display: flex;
}

@mixin fullcenterBox() {
    @include the_box;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include improve_transition;
}

@mixin bottomcenterBox() {
    @include the_box;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    @include improve_transition;
}

@mixin topleftBox() {
    @include the_box;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    @include improve_transition;
}

@mixin bottomrightBox() {
    @include the_box;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    @include improve_transition;
}

@mixin bottomleftBox() {
    @include the_box;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
    @include improve_transition;
}

@mixin toprightBox() {
    @include the_box;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right;
    @include improve_transition;
}

@mixin improve_transition() {
    backface-visibility: hidden;
    perspective: 1000px;
}

@mixin colorDivider($color, $el:after, $margin:$color_divider_margin_top auto $color_divider_margin_bottom auto) {
    &:#{$el} {
        display: block;
        width: $color_divider_width;
        height: $color_divider_height;
        background-color: $color;
        content: '';
        margin: $margin;
    }
}

@mixin color-caret($color, $arrowSize: 10%, $arrowPos: right center) {

    // Hide basic caret
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &,
    &:focus,
    &>a,
    &:focus>a {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$color}' width='30' height='20' viewBox='0 0 30 20'%3E%3Cpath d='M 3.515 0 L 15 12.406 L 26.485 0 L 30 3.797 L 15 20 L 0 3.797 L 3.515 0 Z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: $arrowPos;
        background-size: $arrowSize;
    }

    &:active,
    &[aria-expanded="true"],
    &:active>a,
    &[aria-expanded="true"]>a {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$color}' width='30' height='20' viewBox='0 0 30 20'%3E%3Cpath d=' M 26.485 20 L 15 7.594 L 3.515 20 L 0 16.203 L 15 0 L 30 16.203 L 26.485 20 Z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: $arrowPos;
        background-size: $arrowSize;
    }
}

@mixin caret-spin($color, $size) {
    position: relative;

    &:after,
    &:before {
        position: absolute;
        top: 0;
        right: 10px;
        width: 10px;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: $size;
    }

    &:after {
        content: "";
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{rgba($color,.9)}' width='30' height='20' viewBox='0 0 30 20'%3E%3Cpath d=' M 26.485 20 L 15 7.594 L 3.515 20 L 0 16.203 L 15 0 L 30 16.203 L 26.485 20 Z'%3E%3C/path%3E%3C/svg%3E");
        background-position: center 30%;
    }

    &:before {
        content: "";
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{rgba($color,.9)}' width='30' height='20' viewBox='0 0 30 20'%3E%3Cpath d='M 3.515 0 L 15 12.406 L 26.485 0 L 30 3.797 L 15 20 L 0 3.797 L 3.515 0 Z'%3E%3C/path%3E%3C/svg%3E");
        background-position: center 70%;
    }
}

// Display hr on each side of the title section
@mixin hr($color, $height: 1px, $width: 95vw) {
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &:before {
        content: '';
        flex: 1;
        height: $height;
        margin-left: 5%;
        margin-right: 2.5%;
        background: $color;
    }

    &:after {
        content: '';
        flex: 1;
        height: $height;
        margin-right: 5%;
        margin-left: 2.5%;
        background: $color;
    }
}

// Placeholder mixin usage :
// @include placeholder {
//     font-style:italic;
//     color: white;
//     font-weight:100;
// }
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

// Create a triangle using the borders
@mixin triangle($size, $color, $direction) {
    height: 0;
    width: 0;

    border-color: transparent;
    border-style: solid;
    border-width: $size;

    @if $direction==up {
        border-bottom-color: $color;
    }

    @else if $direction==right {
        border-left-color: $color;
    }

    @else if $direction==down {
        border-top-color: $color;
    }

    @else if $direction==left {
        border-right-color: $color;
    }

    @else {
        @error "Aucune direction #{$direction}.";
    }
}

@mixin tooltip($direction: right) {
    cursor: $w-tooltip-cursor;

    &:before {
        content: attr(w-tooltip-#{$direction});
        position: absolute;
        z-index: 9;
        min-height: $w-tooltip-box-size*2;
        padding: $w-tooltip-box-size/4 $w-tooltip-box-size;
        opacity: 0;
        pointer-events: none;
        color: $w-tooltip-color;
        background-color: $w-tooltip-bg;
        font-size: $w-tooltip-font-size;
        font-weight: $w-tooltip-font-weight;
        text-align: center;
        box-shadow: $w-tooltip-boxshadow;
        transform-origin: left;
        transition: transform .2s ease-out;

    }

    &:after {
        content: "";
        position: absolute;
        z-index: 9;
        opacity: 0;
        pointer-events: none;
        transition: transform .2s ease-out;
    }

    // UP
    @if $direction==up {
        &:before {
            right: calc(0% - #{$w-tooltip-box-size} * 1.5);
            bottom: calc(100% + #{$w-tooltip-box-size});
            border-top: $w-tooltip-border;
            border-radius: $w-tooltip-radius;
            transform: translateY(10px) scale(1.1);
            transform-origin: bottom center;
        }

        &:after {
            @include triangle($w-tooltip-box-size, $w-tooltip-bg, down);
            right: 0;
            bottom: calc(100% - #{$w-tooltip-box-size} / 2);
            transform: translateY(10px) scale(1.1);
            transform-origin: bottom center;
        }
    }

    // LEFT
    @else if $direction==left {
        &:before {
            top: -$w-tooltip-box-size/4;
            right: calc(100% + (#{$w-tooltip-box-size} * 1.5));
            border-left: $w-tooltip-border;
            border-radius: $w-tooltip-radius;
            transform: translateX(10px) scale(1.1);
            transform-origin: center right;
        }

        &:after {
            right: 100%;
            top: calc(50% - #{$w-tooltip-box-size});
            @include triangle($w-tooltip-box-size, $w-tooltip-bg, right);
            transform: translateX(10px) scale(1.1);
            transform-origin: center right;
        }
    }

    // DOWN
    @else if $direction==down {
        &:before {
            right: calc(0% - #{$w-tooltip-box-size} * 1.5);
            top: calc(100% + #{$w-tooltip-box-size});
            border-bottom: $w-tooltip-border;
            border-radius: $w-tooltip-radius;
            transform: translateY(-10px) scale(1.1);
            transform-origin: top center;
        }

        &:after {
            @include triangle($w-tooltip-box-size, $w-tooltip-bg, up);
            right: 0;
            top: calc(100% - #{$w-tooltip-box-size} / 2);
            transform: translateY(-10px) scale(1.1);
            transform-origin: top center;
        }
    }

    // RIGHT
    @else if $direction==right {
        &:before {
            top: -$w-tooltip-box-size/4;
            left: calc(100% + (#{$w-tooltip-box-size} * 1.5));
            border-right: $w-tooltip-border;
            border-radius: $w-tooltip-radius;
            transform: translateX(-10px) scale(1.1);
            transform-origin: center left;
        }

        &:after {
            left: 100%;
            top: calc(50% - #{$w-tooltip-box-size});
            @include triangle($w-tooltip-box-size, $w-tooltip-bg, left);
            transform: translateX(-10px) scale(1.1);
            transform-origin: center left;
        }
    }

    @else {
        @error "Aucune direction #{$direction}.";
    }

    &:hover {

        &:before,
        &:after {
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
}
