@function set-color($color) {
    @if (lightness($color) > 60 and lightness($color) < 80) {
        $the_color: map-get($foundation-palette, black);
        @return rgba($the_color, .8);

    }

    @else if (lightness($color) > 80) {
        $the_color: map-get($foundation-palette, black);
        @return $the_color;
    }

    @else {
        @return map-get($foundation-palette, white);
    }
}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}
