$sheet-message-color: #fff9f0;
$sheet-endedEvent-color: #dd4a4a;

// Covid
$sheet-covid-charter-color: #2d6c99;
$sheet-covid-service-color: #e1a600;

// Tourisme durable
$durable-tourism-color: #4dac54;
