// BOOTSTRAP BASED BREAKPOINTS

/**
* PORTRAIT TABLETS AND MEDIUM DESKTOPS
*/
@media (min-width: 992px) and (max-width: 1199px) {
    .sheet-deal .deal-wrapper .deal-description-left,
    .sheet-deal .deal-wrapper .deal-description-right {
        width: 100%;
        display: block;
    }
}

/**
* PORTRAIT TABLETS AND SMALL DESKTOPS
*/
@media (min-width: 768px) and (max-width: 991px) {

    .sheet-deal .deal-wrapper .deal-description-left,
    .sheet-deal .deal-wrapper .deal-description-right {
        width: 100%;
        display: block;
    }
    .deal-reference-wrapper {
        display: none;
    }
}

/**
* LANDSCAPE PHONES AND PORTRAIT TABLETS
*/
@media (max-width: 767px) {

    // SIDEBAR
    .tourism-detail-sidebar {
        font-size: .9em;
        border: none;

        ul li {
            padding: 5px;
        }

        .sidebar-issue-report {
            padding-top: 5px;
        }
    }

    .social-buttons-wrapper .social-icons-list .social-icon-wrapper .social-icon:after {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
    }


    // NAV
    .nav-back {
        font-size: 0;
        a:before {
            margin: 0;
        }
    }

    .deal-reference-wrapper {
        display: none;
    }
}


@media (max-width: 1000px) {

    .container-fluid {
        &>div>.btn-group {
            display: none;
        }
    }
    .daterangepicker.dropdown-menu {
        max-width: 320px;
    }
}

// BELOW 768px
@media (max-width: 768px) {

    .modal-dialog,
    .modal-dialog.modal-lg,
    .contact-modal .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;

        .modal-content {
            min-height: 100%;
        }

        .detail-form .field-wrapper {
            display: block;

            label {
                display: block;
                text-align: left;
                width: 100%;
            }

            .type-item label {
                text-align: center;
            }
        }
    }
}

// ABOVE
@media screen and (min-width: 768px) {

    .tourism-list-item {
        .item-container {
            transition: opacity .5s $swift-out, transform .5s $swift-out, box-shadow .5s $swift-out;
            &:hover {
                transform: translateY(-4px);
                box-shadow: $defShadowLev3;

                .wishlist-delete-sheet {
                    opacity: 1;

                    &:before {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

                .sheet-image-wrapper {
                    .rc-img {
                        transform: scale(1.2);
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 650px) {
    .central-resa {
        .resa-controls {
            display: block;
            overflow: hidden;

            &>span:not(.btn-resa) {
                float: left;
                clear: both;
                width: 100%;
                margin-bottom: 5px;

                .datepicker-label {
                    width: 30%;
                    text-align: left;
                }

                .datepicker-element {
                    width: 70%;
                }
            }

            .btn-resa {
                display: block;
                margin: 0 auto;
                width: 100%;
                max-width: 200px;
            }
        }

        .booking-results-wrapper {
            .booking-result-item.item-booking {
                padding: 15px 0;

                .result-media {
                    display: none;
                }

                .result-price,
                .result-type {
                    padding: 0 10px;
                }

                .result-booking .btn {
                    max-width: none !important;
                }
            }
        }
    }
}


@media (min-width: 500px) {
    .tourism-list-item .item-infos {
        padding-bottom: 0 !important;
    }
}

@media (max-width: 520px) {
    .comment-form .field-wrapper .type-wrapper ul li {
        height: auto;
        width: 100%;
        border-right: none;
        color: #959595;

        label {
            font-weight: normal;
        }

        &.selected {
            color: #000;

            label {
                font-weight: bold;
            }
        }

        label .label-icon {
            display: none;
        }
    }

    .detail-form .form-content-wrapper .submit-btns-wrapper {
        .floating-wrapper {
            width: 100%;
        }

        .btn {
            width: 100%;
            margin-top: 5px;
        }
    }

    .comment-form .rate-icons-wrapper .rate-icon label {
        width: 100%;
        padding: 0 5px;
    }

    .comment-form .rate-icons-wrapper .rate-icon label:before {
        font-size: 40px;

        width: 40px;
        height: 40px;
    }
}

/**
* LANDSCAPE PHONES AND SMALLER
*/
@media (max-width: 480px) {
    .sheet-deal .deal-wrapper {
        .deal-description-left,
        .deal-description-right {
            width: 100%;
            display: block;
        }
    }
    .deal-reference-wrapper {
        display: none;
    }

    .itinerary-elevation-wrapper .itinerary-elevation-datas {
        width: 100%;
        min-width: 0;
    }

    .sheet-nav {
        display: block;
    }

    .tourism-detail-title h1 {
        margin: 0;
    }

    .social-buttons-wrapper {
        padding: 0;
    }

    .detail-form h3,
    .contact-form.detail-form h3 {
        margin: 0;
        margin-top: 15px;
        padding-left: 50px;
        padding-right: 50px;

        margin-bottom: 10px;
        text-align: left;
        font-size: 1.5em;
        min-height: 40px;
        width: 100%;
        text-align: center;
    }

    .modal-content .modal-window {
        padding: 10px;
    }

    .detail-form .field-wrapper {
        width: 100%;
    }

    .detail-form .form-optin {
        width: 100%;
        padding: 15px;
    }

    .detail-form .form-content-wrapper {
        padding: 10px;
    }
}

// FOR IPAD ONLY
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .modal-dialog.modal-lg {
        width: 100%;
        height: 100%;
        margin: 0;

        .modal-content {
            min-height: 100%;
        }
    }
}
