{% if contractsLevels.content.maps %}

	<div id="map-container" class="hidden-xs">
	    {% if object.data.bordereau in ['ITI'] %}
	        <div id="itinerary-map" class=""></div>
	    {% endif %}

	</div>
{% endif %}