{% if if object.data.bordereau in ['ITI'] and contractsLevels.content.maps and formated_object.geolocations|default %}
	<div id="map-container" class="hidden-xs">
        <div id="itinerary-map"></div>
	</div>
{% endif %}
