{% extends '_objects/genericBlocComponent.twig' %}
{% block woodyBlockType %}cta{% endblock %}
{% block indexClass %}{{ customIndexClass|default('01') }}{% endblock %}
{% block woodyComponentContent %}
    {% include '_objects/genericBlocTitles.twig' with {
        display: display_block_titles|default(),
        margin: block_titles_margin|default('marg-bottom-sm'),
        flex_options: 'flex-container flex-dir-column align-center text-left'
    } %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-8 cta-desc flex-container flex-dir-column">
            {% block cta_desc %}
                {% if cta_woody_icon|default %}
                    <span class="wicon wicon-woody-icons {{ cta_woody_icon }}"></span>
                {% endif %}
                {{ description|default }}
            {% endblock %}
        </div>
        {% include '_objects/buttonBlock.twig' with {
            block_button_prefix: 'cta'
        } %}
    </div>
{% endblock %}
