$book-tabs-bgcolor:rgba($black, .3) !default;
$book-tabs-color: $white !default;
$book-tab-icon-size: rem-calc(30) !default;
$book-tab-icon-margin : 0 !default;
$book-tab-flex-dir:column !default;
$book-tab-flex-align:center !default;
$book-tab-flex-justify:flex-end !default;
$book-tab-active-bgcolor:$white !default;
$book-tab-active-color:$primary-color !default;
