$breadcrumb-bgcolor : rgba($black, .05) !default;
$breadcrumb-margin : 0 0 15px 0 !default;
$breadcrumb-fontfamily : $body-font-family !default;
$breadcrumb-fontsize : rem-calc(13) !default;
$breadcrumb-fontweight : normal !default;
$breadcrumb-fontstyle : normal !default;
