$circuit-tab-font-size:rem-calc(18) !default;
$circuit-tab-text-transform:uppercase !default;
$circuit-tab-font-weight:normal !default;
$circuit-tab-bgcolor: transparent !default;
$circuit-tab-padding: .6em 2em;
$circuit-tab-active-bgcolor : $primary-color !default;
$circuit-tab-color : $body-font-color !default;
$circuit-tab-active-color : $white !default;
$circuit-tab-border: 1px solid $medium-gray !default;
$circuit-tab-active-border : 1px solid transparent !default;
$circuit-tab-margin:map-get($grid-column-gutter, 'medium') !default;
$circuit-slct-swtchr-bgcolor: $white !default;
$circuit-slct-swtchr-color: $primary-color !default;
$circuit-stp-indx-bgcolor:$primary-color !default;
$circuit-stp-indx-color:$white !default;
$circuit-step-index-font-weight : 900 !default;
$circuit-step-index-color:darken($light-gray, 5%) !default;
$circuit-step-index-font-size : 66 !default;
$circuit-step-label-font-size : 20 !default;
$circuit-step-label-color : $primary-color !default;
