//SHOW MORE BUTTON VARS
$show-more-button-color: $primary-color !default;
$show-more-button-close-wicon: 045-haut !default;
$show-more-button-open-wicon: 046-bas !default;
$show-more-button-weight : bold !default;
$show-more-max-line : 8 !default;
