// ********************
// Flowchart block
// ********************

// Flowchart search
$flowchart-search-icon-color: $white !default;
$flowchart-search-icon-bg-color: $primary-color !default;
$flowchart-search-icon-border: 1px solid $flowchart-search-icon-bg-color !default;

// Flowchart item
$flowchart-item-border: 1px solid $medium-gray !default;
$flowchart-item-border-radius: 30px !default;
$flowchart-item-bg-color: $white !default;
$flowchart-item-more-button-color: $white !default;
$flowchart-item-more-button-bg-color: $primary-color !default;

// Flowchart mini item
$flowchart-mini-item-name-font-size: rem-calc(12) !default;
$flowchart-mini-item-img-size: 25px !default;

// Flowchart separator
$flowchart-separator-border: 2px solid $black !default;

// Profile terms
$profile-term-color: $white !default;
$profile-term-bg-color: $primary-color !default;
$profile-term-font-size: rem-calc(10) !default;
$profile-term-font-weight: bold !default;
$profile-term-text-transform: uppercase !default;
$profile-term-padding: 5px !default;

// ********************
// Single profile page
// ********************

// Single profile left part
$single-profile-left-part-border: 1px solid $medium-gray !default;
$single-profile-left-part-border-radius: 0 !default;
$single-profile-left-part-box-shadow: none !default;

// Single profile image
$single-profile-img-border: 6px solid $primary-color !default;
$single-profile-img-border-radius: 50% !default;
$single-profile-img-max-width: 150px !default;

// Single profile page title
$single-profile-page-title-font-weight: bold !default;
$single-profile-page-title-text-transform: uppercase !default;
$single-profile-page-title-line: true !default;
$single-profile-page-title-line-size: 2px !default;
$single-profile-page-title-line-bg-color: $primary-color !default;

// Single profile name
$single-profile-name-font-size: rem-calc(26) !default;
$single-profile-name-font-weight: bold !default;

// Single profile complement
$single-profile-complement-font-size: rem-calc(18) !default;
$single-profile-complement-font-weight: 400 !default;
$single-profile-complement-color: $medium-gray !default;

// Single profile description
$single-profile-description-font-size: rem-calc(18) !default;

// Single profile right part
$single-profile-information-title-border: $single-profile-left-part-border !default;
$single-profile-information-title-font-weight: bold !default;
