$focusLane-bgcolor : $nobg-cardsection-bgcolor !default;
$focusLane-color : $primary-color !default;
$focusLane-icon-radius : 0 !default;
$focusLane-icon-size : 26px !default;
$focusLane-space : 20px !default;

$focusFullpageOverlayed-max-height: 90vh !default
