$headnavs-autohide : true !default;
$headnavs-autohide-duration: .5s !default;
$headnavs-autohide-easing: cubic-bezier(0.86, 0, 0.07, 1) !default;
$headnavs-has-shadow: false !default;
$headnavs-shadow: 0 0 40px -25px rgba($black, .5) !default;

// Topheader
$topheader-height: 40px !default; // HAUTEUR DU MENU

// Top bar links (excludind submenus)
$topbar-link-txt-transform : uppercase !default;
$topbar-link-font-weight : bold !default;
$topbar-link-color : $black;
$topbar-link-hover-color : $primary-color !default;

// Menu item
$nav-item-image-font-weight: $header-font-weight;
$nav-item-image-font: $global-font-size;
