$headnavs-autohide : true !default;
$headnavs-autohide-duration: .5s !default;
$headnavs-autohide-easing: cubic-bezier(0.86, 0, 0.07, 1) !default;
$headnavs-has-shadow: false !default;
$headnavs-shadow: 0 0 40px -25px rgba($black, .5) !default;
