$img-caption-offset: 10px !default;
$img-caption-margin: $img-caption-offset*2;
$img-caption-color: $white !default;
$img-caption-bgcolor: rgba(0, 0, 0, .3) !default;
$img-caption-font-family: $body-font-family !default;
$img-caption-font-size: rem-calc(12) !default;
$img-caption-font-weight: $global-weight-normal !default;
$img-caption-size: 30px !default;
$img-caption-border-radius: 30px !default;
$img-caption-padding: 5px !default;
$img-caption-icon-font-size: rem-calc(15) !default;
