
$tooltip-box-maxwidth:400px !default;

$tooltip-text-background:$white!default; //Couleur du background du bloc texte
$tooltip-text-color:$black !default; //Couleur du texte du bloc texte

//Choisir depuis quel position le bloc texte apparait
//Possibilité : top-left, top-right, bottom-left, bottom-right.
$tooltip-position:'top-left' !default;

//Choisir l'effet d'apparition du bloc texte
//Possibilité : classic, getup, skew, scale, rotate.
$tooltip-effect:'classic' !default;
