// markerObject
$markerObject-icon-font-size : rem-calc(23) !default;
$markerObject-circle-size : 14px !default;
$markerObjectSize : 40px !default;
$markerObject-icon-top:-42px !default;
$markerObject-color:$primary-color !default;

// Geomaps
$geomap-marker-width : $markerObjectSize !default;
$geomap-popup-content-min-width : 200px !default;
$geomap-title-font-size : rem-calc(20) !default;
$geomap-titles-text-align : center !default;

$marker-activePane-color:$primary-color !default;
