$profile-bgcolor: $white !default;
$profile-color:$black !default;
$profile-global-alignment:center !default;
$profile-img-border-width: 8px !default;
$profile-img-border-color: $primary-color !default;
$profile-vertical-translation : -130px !default;
$profile-fav-border-color : rgba($profile-color, .3) !default;
$profile-fav-txt-transform : uppercase !default;
$profile-fav-color : rgba($profile-color, .75) !default;
$profile-fav-border-radius : 3px !default;
$profile-button-bgcolor: $primary-color !default;
$profile-button-color:$white !default;
$profile-icon-size:36 !default;
