$quote-img-rounded: false !default;
$quote-img-border: false !default;
$quote-img-border-size: 5px !default;
$quote-img-border-style: solid !default;
$quote-img-border-color: $primary-color !default;
$has-quote-icon: false !default;
$quote-icon-color: $black !default;
$quote-icon-size: rem-calc(80) !default;
$quote-icon-position: rem-calc(-40) !default;
$quote-02-img-size: 100px !default;
