$roadbook-header-height : 48px !default;
$roadbook-menu-bar-bg-color : $primary-color !default;
$roadbook-menu-icon-color : $white !default;
$roadbook-menu-title-weight : bold !default;
$roadbook-menu-title-txt-transform : uppercase !default;
$roadbook-menu-title-color : $primary-color !default;
