// Global
$snow-infos-weight-bold: true !default;
$snow-infos-buttons-underline: true !default;

// Bloc flash info
$flash-info-bg-text: $white !default;
$flash-info-color-text: $black !default;
$flash-info-bg-icon: $primary-color !default;
$flash-info-color-icon: $white !default;
