$story-title-size : h3 !default;
$story-title-weight: $header-font-weight !default;
$story-author-img-size: 50px !default;
$story-author-name-size : h5 !default;

$story-chapter-title-size : $story-title-size !default;
$story-chapter-title-weight : $story-title-weight !default;

$story-img-opacity:.75 !default;
