// ------
// Swiper
// ------

//Globals
$swiper-offset-size: 5% !default;
$swiperOverflow-opacity : .5 !default;
$swiper-zoomActive-scale: scale(.95) !default;
$swiper-zoomActive-grayscale: grayscale(50%) !default;

//Justified
$justifiedSwiperBlankSpace : calc(((100vw - #{$global-width}) / 2) + (#{map-get($grid-column-gutter, medium)} / 2));

// Landswipers
$wicon-landswpr-size: 30 !default;
$landswpr-search-field-border: none !default;
$landswpr-search-field-bgcolor : $white !default;
$landswpr-search-field-placeholder-style : italic !default;
$landswpr-search-field-placeholder-color : $medium-gray !default;
$landswpr-search-button-bgcolor : $primary-color !default;
$landswpr-search-button-border:none !default;

// Thumbs
$swiper-thumbs-bgColor: $primary-color !default;
$swiper-thumbs-icon: 024-loupe !default;
$swiper-zoomActive-shadow: true !default;
$grayScale-zoomActive-swiper: true !default;

// Pagination
$swiper-bullet-color-active: $primary-color !default;
$swiper-bullet-color: $swiper-bullet-color-active !default;
$swiper-bullet-opacity: .4 !default;
$swiper-bullet-radius: 50% !default;

$swiper-fraction-size: rem-calc(32) !default;
$swiper-fraction-weight: $global-weight-bold !default;
$swiper-fraction-color: $primary-color !default;
$swiper-fraction-total-opacity: .4 !default;
$swiper-fraction-font-family: $header-font-family !default;
$swiper-fraction-separator: '/' !default;

$swiper-progressbar-width: 200px !default;
$swiper-progressbar-height: 2px !default;
$swiper-progressbar-color: $primary-color !default;
$swiper-progressbar-color-active: $swiper-progressbar-color !default;
$swiper-progressbar-opacity: .2 !default;
$swiper-progressbar-radius: $global-radius !default;

$swiper-pagination-vertical-mobile-direction : row !default;

//Navigation-bottom-left
$navigation-bottom-left-background-color: $primary-color !default;
$navigation-bottom-left-mobile-size : 50px !default;
$navigation-bottom-left-size : 65px !default;
$navigation-bottom-left-arrow-color : $white !default;
$navigation-bottom-left-arrow-mobile-size : initial !default;
$navigation-bottom-left-arrow-size : 30px !default;
$navigation-bottom-left-mobile-direction : row !default;
$navigation-bottom-left-direction : column !default;
