$swiper-thumbs-bgColor: $primary-color !default;
$swiper-thumbs-icon: 024-loupe !default;
$swiper-zoomActive-shadow: true !default;
// Landswipers
$landswpr-search-field-border: none !default;
$landswpr-search-field-bgcolor : $white !default;
$landswpr-search-field-placeholder-style : italic !default;
$landswpr-search-field-placeholder-color : $medium-gray !default;
$landswpr-search-button-bgcolor : $primary-color !default;
$landswpr-search-button-border:none !default;
