$movie-toggle-bgcolor : $primary-color !default;
$movie-toggle-color : $white !default;
$movie-toggle-left-position : auto !default;
$movie-toggle-top-position : auto !default;
$movie-toggle-right-position : 15px !default;
$movie-toggle-bottom-position : 15px !default;
$movie-toggle-padding:(small:5px 10px, large:8px 20px) !default;
