$trip_infos_font_weight: 900 !default;
$trip_info_text_transform : uppercase !default;
$trip_info_text_fat : 2.4em !default;
$trip_info_top_position :-100px;
$trip-info-border : true !default;
$trip-info-border-color : $black !default;
$trip-info-button-color : $black !default;

//for template 5
$trip-info-separator : true !default;
