$text-shadow: 0 2px 5px rgba($black, .16);

$mega-title-font-family: $header-font-family !default;
$mega-title-font-size: rem-calc(72) !default;
$mega-title-font-weight: $header-font-weight !default;
$mega-title-text-transform: uppercase !default;
