$text-shadow: 0 2px 5px rgba($black, .16);

$mega-title-font-family: $header-font-family !default;
$mega-title-font-size: rem-calc(72) !default;
$mega-title-font-weight: $header-font-weight !default;
$mega-title-text-transform: uppercase !default;

$icons-in-text-size : rem-calc(40) !default;

$wicon-size-mini: rem-calc(20px) !default;
$wicon-size-small: rem-calc(35px) !default;
$wicon-size-medium: rem-calc(50px) !default;
$wicon-size-big: rem-calc(70px) !default;
