$movie-title-hstyle : h5 !default;
$movie-title-padding : 0 !default;
$movie-title-bgcolor : transparent !default;
$movie-caption-padding : 10px !default;
$movie-caption-bgcolor : $light-gray !default;
$movie-text-align : left !default;
