/* FONTS */
// @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://api.tourism-system.com/static/assets/fonts/raccourci-font.css);

// FONT ICONS LESS
.icon-font-item {
    font-family: 'raccourci';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    width: 100%;
    height: 100%;
    display: inline-block;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rating-font {
    @extend .icon-font-item;
    width: auto;
    height: auto;
    line-height: 1em;

    [character="\\e64e"]:before { content: "\e64e"; }
    [character="\\e64f"]:before { content: "\e64f"; }
    [character="\\e650"]:before { content: "\e650"; }
    [character="\\e651"]:before { content: "\e651"; }
    [character="\\e909"]:before { content: "\e909"; }
}


.icon-contact-book {
    content: "\e662";
}

.icon-qrcode {
    content: "\e661";
}

.icon-timeline {
    content: "\e660";
}

.icon-map {
    content: "\e65f";
}

.icon-mountain {
    content: "\e65e";
}

.icon-minus {
    content: "\e65b";
}

.icon-nav-full-next {
    content: "\e65c";
}

.icon-nav-full-prev {
    content: "\e65d";
}

.icon-itinerary {
    content: "\e655";
}

.icon-multimedia {
    content: "\e656";
}

.icon-image {
    content: "\e657";
}

.icon-play {
    content: "\e658";
}

.icon-zoom-in {
    content: "\e659";
}

.icon-zoom-out {
    content: "\e65a";
}

.icon-edit {
    content: "\e63e";
}

.icon-suitcase_inner_28 {
    content: "\e652";
}

.icon-suitcase_outer_28 {
    content: "\e653";
}

.icon-target {
    content: "\e654";
}

.icon-logout {
    content: "\e63d";
}

.icon-restaurant {
    content: "\e600";
}

.icon-accomodation {
    content: "\e601";
}

.icon-event {
    content: "\e60f";
}

.icon-direction {
    content: "\e614";
}

.icon-slim-add {
    content: "\e618";
}

.icon-slim-delete {
    content: "\e63c";
}

.icon-ear {
    content: "\e64e";
}

.icon-flower {
    content: "\e64f";
}

.icon-key {
    content: "\e650";
}

.icon-star {
    content: "\e909";
}

.icon-panoramic {
    content: "\e64d";
}

.icon-loupe {
    content: "\e64c";
}

.icon-download {
    content: "\e64a";
}

.icon-import {
    content: "\e64b";
}

.icon-hourglass {
    content: "\e649";
}

.icon-share {
    content: "\e624";
}

.icon-reload-gear {
    content: "\e63f";
}

.icon-departure {
    content: "\e638";
}

.icon-bike {
    content: "\e63b";
}

.icon-info {
    content: "\e63a";
}

.icon-quotes {
    content: "\e634";
}

.icon-quotes-reversed {
    content: "\e635";
}

.icon-comment {
    content: "\e636";
}

.icon-tag {
    content: "\e637";
}

.icon-propeller {
    content: "\e632";
}

.icon-swimming {
    content: "\e633";
}

.icon-paw {
    content: "\e630";
}

.icon-wifi {
    content: "\e631";
}

.icon-youtube {
    content: "\e62a";
}

.icon-facebook {
    content: "\e62b";
}

.icon-google {
    content: "\e62c";
}

.icon-instagram {
    content: "\e62d";
}

.icon-twitter {
    content: "\e62e";
}

.icon-pinterest {
    content: "\e62f";
}

.icon-lightbulb {
    content: "\e629";
}

.icon-picture {
    content: "\e628";
}

.icon-car {
    content: "\e622";
}

.icon-walking {
    content: "\e626";
}

.icon-warning {
    content: "\e623";
}

.icon-dots {
    content: "\e621";
}

.icon-arrow {
    content: "\e61d";
}

.icon-mobile {
    content: "\e61e";
}

.icon-save {
    content: "\e61f";
}

.icon-send {
    content: "\e620";
}

.icon-play-video {
    content: "\e61c";
}

.icon-helper-arrow {
    content: "\e61b";
}

.icon-nav-next {
    content: "\e619";
}

.icon-nav-prev {
    content: "\e61a";
}

.icon-tick {
    content: "\e617";
}

.icon-alone {
    content: "\e604";
}

.icon-avis1 {
    content: "\e605";
}

.icon-avis2 {
    content: "\e606";
}

.icon-smiley6 {
    content: "\ea13";
}

.icon-avis3 {
    content: "\e607";
}

.icon-avis4 {
    content: "\e608";
}

.icon-avis5 {
    content: "\e609";
}

.icon-clock {
    content: "\e60a";
}

.icon-cursor {
    content: "\e60b";
}

.icon-duplicate {
    content: "\e60c";
}

.icon-form-avis-alone {
    content: "\e60d";
}

.icon-form-avis-bus {
    content: "\e60e";
}

.icon-form-avis-couple {
    content: "\e610";
}

.icon-form-avis-family {
    content: "\e611";
}

.icon-localize {
    content: "\e612";
}

.icon-phone {
    content: "\e613";
}

.icon-ticket {
    content: "\e616";
}

.icon-refold {
    content: "\e648";
}

.icon-sunset {
    content: "\e647";
}

.icon-calendar {
    content: "\e641";
}

.icon-mail {
    content: "\e642";
}

.icon-menu {
    content: "\e643";
}

.icon-nav-back {
    content: "\e644";
}

.icon-printer {
    content: "\e645";
}

.icon-suitcase {
    content: "\e646";
}

.icon-eye {
    content: "\e603";
}

.icon-suppr {
    content: "\e615";
}

.icon-plus {
    content: "\e627";
}

.icon-filter {
    content: "\e640";
}

.icon-hat {
    content: "\e639";
}

.icon-cog {
    content: "\e602";
}

.icon-user {
    content: "\e625";
}

.icon-brochures1 {
    content: "\e665";
}

.icon-brochures2 {
    content: "\e664";
}

.icon-tides {
    content: "\e663";
}

.icon-dot {
    content: "\e666";
}

.icon-wine {
    content: "\e667";
}

.icon-vtt {
    content: "\e668";
}

.icon-sunflower {
    content: "\e900";
}

.icon-flickr {
    content: "\e901";
}

.icon-fg-1 {
    content: "\e902";
}

.icon-fg-2 {
    content: "\e903";
}

.icon-fg-3 {
    content: "\e904";
}

.icon-fg-4 {
    content: "\e905";
}

.icon-fg-5 {
    content: "\e906";
}

.icon-museum {
    content: "\e907";
}

.icon-globe {
    content: "\e908";
}

.icon-star-2 {
    content: "\e909";
}

.icon-pause {
    content: "\e90a";
}

.icon-bubble {
    content: "\e90b";
}

.icon-shop {
    content: "\e90c";
}

.icon-user-2 {
    content: "\e90d";
}

.icon-store {
    content: "\e90e";
}

.icon-dailymotion {
    content: "\e90f";
}

.icon-webcam {
    content: "\e910";
}

.icon-horse {
    content: "\e911";
}

.icon-kayak {
    content: "\e912";
}

.icon-euro {
    content: "\e913";
}

.icon-home {
    content: "\e914";
}

.icon-list {
    content: "\e915";
}

.icon-pin-outline {
    content: "\e916";
}

.icon-camping {
    content: "\e917";
}

.icon-castle {
    content: "\e918";
}

.icon-flippers {
    content: "\e919";
}

.icon-paddle {
    content: "\e91a";
}

.icon-bagoo-icon {
    content: "\e91b";
}

.icon-bagoo-logo-2 {
    content: "\e91c";
}

.icon-bagoo-logo {
    content: "\e91d";
}

.icon-bonplan {
    content: "\e91e";
}

.icon-buzzer {
    content: "\e91f";
}

.icon-motorcycle {
    content: "\e920";
}

.icon-bonplan2 {
    content: "\e921";
}

.icon-news {
    content: "\e922";
}

.icon-megaphone {
    content: "\e923";
}

.icon-question {
    content: "\e930";
}

.icon-bagoo-icon {
    content: "\e92f";
}

.icon-heart {
    content: "\e931";
}

.icon-messenger {
    content: "\e932";
}

.icon-arrow-right {
    content: "\e933";
}

.icon-ban {
    content: "\e934";
}

.icon-beach {
    content: "\e935";
}

.icon-file {
    content: "\e936";
}

.icon-add-user {
    content: "\e937";
}

.icon-anchor {
    content: "\e938";
}

.icon-360 {
    content: "\e939";
}

.icon-whistle {
    content: "\e92e";
}

.icon-conversion {
    content: "\e92d";
}

.icon-half {
    content: "\e92c";
}

.icon-start {
    content: "\e92b";
}

.icon-scrum {
    content: "\e92a";
}

.icon-info-circle {
    content: "\e929";
}

.icon-switch {
    content: "\e928";
}

.icon-medic {
    content: "\e927";
}

.icon-card {
    content: "\e926";
}

.icon-video {
    content: "\e925";
}

.icon-try {
    content: "\e924";
}

.icon-balloon {
    content: "\e93a";
}

.icon-snowflake {
    content: "\e93b";
}

.icon-sun {
    content: "\e93c";
}

.icon-waterdrop {
    content: "\e93d";
}

.icon-buzzer-outline {
    content: "\e93e";
}

.icon-cook {
    content: "\e93f";
}

.icon-fireplace {
    content: "\e940";
}

.icon-couple {
    content: "\e941";
}

.icon-family {
    content: "\e942";
}

.icon-solo {
    content: "\e943";
}

.icon-cocktail {
    content: "\e944";
}

.icon-group {
    content: "\e945";
}

.icon-diamond {
    content: "\e946";
}

.icon-mail2 {
    content: "\e947";
}

.icon-advisor {
    content: "\e948";
}

.icon-hashtag {
    content: "\e949";
}

.icon-animal {
    content: "\e94a";
}

.icon-bird {
    content: "\e94b";
}

.icon-bus-outline {
    content: "\e94c";
}

.icon-case-reunion {
    content: "\e94d";
}

.icon-food {
    content: "\e94e";
}

.icon-kayak2 {
    content: "\e94f";
}

.icon-ot {
    content: "\e950";
}

.icon-question2 {
    content: "\e951";
}

.icon-tong {
    content: "\e952";
}

.icon-volcano {
    content: "\e953";
}

.icon-whale {
    content: "\e954";
}

.icon-trek {
    content: "\e955";
}

.icon-plane {
    content: "\e956";
}

.icon-train {
    content: "\e957";
}

.icon-bubble-bethune {
    content: "\e958";
}

.icon-bottle {
    content: "\e959";
}

.icon-church {
    content: "\e95a";
}

.icon-no-car {
    content: "\e95b";
}

.icon-umbrella {
    content: "\e95c";
}

.icon-wheelchair {
    content: "\e95d";
}

.icon-arrow-back {
    content: "\e95e";
}

.icon-boulou {
    content: "\e95f";
}

.icon-glass-wine {
    content: "\e960";
}

.icon-lighthouse {
    content: "\e961";
}

.icon-oyster {
    content: "\e962";
}

.icon-fishing {
    content: "\e963";
}

.icon-binoculars {
    content: "\e964";
}

.icon-visit {
    content: "\e965";
}

.icon-thumb {
    content: "\e966";
}

.icon-boat {
    content: "\e967";
}

.icon-fishing-2 {
    content: "\e968";
}

.icon-brain {
    content: "\e969";
}

.icon-camping-car {
    content: "\e96a";
}

.icon-leaf {
    content: "\e96b";
}

.icon-tie {
    content: "\e96c";
}

.icon-calendar-2 {
    content: "\e96d";
}

.icon-home-2 {
    content: "\e96e";
}

.icon-map-2 {
    content: "\e96f";
}

.icon-facebook-clean {
    content: "\e970";
}

.icon-google-clean {
    content: "\e971";
}

.icon-facebook-clean {
    content: "\e972";
}

.icon-instagram-clean {
    content: "\e973";
}

.icon-pinterest-clean {
    content: "\e974";
}

.icon-youtube-clean {
    content: "\e975";
}

.icon-info-clean {
    content: "\e976";
}

.icon-question2-clean {
    content: "\e977";
}

.icon-hashtag-clean {
    content: "\e978";
}

.icon-ot-clean {
    content: "\e979";
}

.icon-services {
    content: "\e97a";
}

.icon-linkedin {
    content: "\e97b";
}

.icon-viadeo {
    content: "\e97c";
}

.icon-interactive-map {
    content: "\e97d";
}

.icon-leaf2 {
    content: "\e97e";
}

.icon-puydufou {
    content: "\e97f";
}

.icon-ticket-outline {
    content: "\e980";
}

.icon-file2 {
    content: "\e981";
}

.icon-screen {
    content: "\e982";
}

.icon-tablet {
    content: "\e983";
}

.icon-lotus {
    content: "\e984";
}

.icon-analytics {
    content: "\e985";
}

.icon-withchild {
    content: "\e986";
}

.icon-forfait {
    content: "\e987";
}

.icon-paraglide {
    content: "\e988";
}

.icon-periscope {
    content: "\e989";
}

.icon-reload {
    content: "\e98a";
}

.icon-ski {
    content: "\e98b";
}

.icon-snapchat {
    content: "\e98c";
}

.icon-snowboard {
    content: "\e98d";
}

.icon-snowshoes {
    content: "\e98e";
}

.icon-vine {
    content: "\e98f";
}

.icon-biathlon {
    content: "\e990";
}

.icon-bonsplans-de {
    content: "\e991";
}

.icon-bonsplans-en {
    content: "\e992";
}

.icon-bonsplans-es {
    content: "\e993";
}

.icon-bonsplans-nl {
    content: "\e994";
}

.icon-heart-2 {
    content: "\e995";
}

.icon-bed-outline {
    content: "\e996";
}

.icon-camping-outline {
    content: "\e997";
}

.icon-phone-outline {
    content: "\e998";
}

.icon-ticket-2 {
    content: "\e999";
}

.icon-village {
    content: "\e99a";
}

.icon-mountain2 {
    content: "\e99b";
}

.icon-cable-car {
    content: "\e99c";
}

.icon-child {
    content: "\e99d";
}

.icon-football {
    content: "\e99e";
}

.icon-hand-peace {
    content: "\e99f";
}

.icon-museum-2 {
    content: "\e9a0";
}

.icon-shop-2 {
    content: "\e9a1";
}

.icon-store-2 {
    content: "\e9a2";
}

.icon-quotation {
    content: "\e9a3";
}

.icon-tools {
    content: "\e9a4";
}

.icon-speech {
    content: "\e9a5";
}

.icon-violin {
    content: "\e9a6";
}

.icon-restaurant-2 {
    content: "\e9a7";
}

.icon-abbey {
    content: "\e9a8";
}

.icon-castle-2 {
    content: "\e9a9";
}

.icon-cityscape {
    content: "\e9aa";
}

.icon-museum-3 {
    content: "\e9ab";
}

.icon-arrow4 {
    content: "\e9ac";
}

.icon-arrow5 {
    content: "\e9ad";
}

.icon-loop {
    content: "\e9ae";
}

.icon-glass {
    content: "\e9af";
}

.icon-school-hat {
    content: "\e9b0";
}

.icon-theater {
    content: "\e9b1";
}

.icon-u {
    content: "\e9b2";
}

.icon-group-2 {
    content: "\e9b3";
}

.icon-mons-card {
    content: "\e9b4";
}

.icon-mons-culture {
    content: "\e9b5";
}

.icon-theater-show {
    content: "\e9b6";
}

.icon-trip-case {
    content: "\e9b7";
}

.icon-visit-museum {
    content: "\e9b8";
}

.icon-drop {
    content: "\e9b9";
}

.icon-1star {
    content: "\e9ba";
}

.icon-2stars {
    content: "\e9bb";
}

.icon-3stars {
    content: "\e9bc";
}

.icon-4stars {
    content: "\e9bd";
}

.icon-boat-2 {
    content: "\e9be";
}

.icon-file-3 {
    content: "\e9bf";
}

.icon-map-3 {
    content: "\e9c0";
}

.icon-sea {
    content: "\e9c1";
}

.icon-weather {
    content: "\e9c2";
}

.icon-webcam-2 {
    content: "\e9c3";
}

.icon-tripadvisor {
    content: "\e9c4";
}

.icon-castle-3 {
    content: "\e9c5";
}

.icon-lys {
    content: "\e9c6";
}

.icon-question-book {
    content: "\e9c7";
}

.icon-tablet-1 {
    content: "\e9c8";
}

.icon-waves {
    content: "\e9c9";
}

.icon-vimeo {
    content: "\e9ca";
}

.icon-compass {
    content: "\e9cb";
}

.icon-checkbox {
    content: "\e9cc";
}

.icon-loupe-zoom-in {
    content: "\e9cd";
}

.icon-loupe-zoom-out {
    content: "\e9ce";
}

.icon-ardenne-logo {
    content: "\e9cf";
}

.icon-brush-a {
    content: "\e9cd0";
}

.icon-handshake {
    content: "\e9d1";
}

.icon-magic-wand {
    content: "\e9d2";
}

.icon-reward {
    content: "\e9d3";
}

.icon-stats {
    content: "\e9d4";
}

.icon-brush {
    content: "\e9d5";
}

.icon-caddy {
    content: "\e9d6";
}

.icon-dolmen {
    content: "\e9d7";
}

.icon-glasses {
    content: "\e9d8";
}

.icon-high-tide {
    content: "\e9d9";
}

.icon-low-tide {
    content: "\e9dc";
}

.icon-mail3 {
    content: "\e9df";
}

.icon-sailboat {
    content: "\e9e0";
}

.icon-shopping {
    content: "\e9e1";
}

.icon-reward-2 {
    content: "\e9da";
}

.icon-zero {
    content: "\e9db";
}

.icon-elevation {
    content: "\e9dd";
}

.icon-recycling {
    content: "\e9de";
}

.icon-luge {
    content: "\e9e2";
}

.icon-ski-2 {
    content: "\e9e3";
}

.icon-ski-3 {
    content: "\e9e4";
}

.icon-snowshoes-2 {
    content: "\e9e5";
}

.icon-air-balloon {
    content: "\e9e6";
}

.icon-bell {
    content: "\e9e7";
}

.icon-gear {
    content: "\e9e8";
}

.icon-avalanche {
    content: "\e9e9";
}

.icon-stats-2 {
    content: "\e9ea";
}

.icon-stats-3 {
    content: "\e9eb";
}

.icon-dot-outline {
    content: "\e9ec";
}

.icon-arrow-6 {
    content: "\e9ed";
}

.icon-thin-add {
    content: "\e9ee";
}

.icon-diamond-2 {
    content: "\e9ef";
}

.icon-thin-cross {
    content: "\e9f0";
}

.icon-group-3 {
    content: "\e9f1";
}

.icon-patou {
    content: "\e9f2";
}

.icon-fullscreen {
    content: "\e9f3";
}

.icon-bird-2 {
    content: "\e9f4";
}

.icon-fence {
    content: "\e9f5";
}

.icon-montauban {
    content: "\e9f6";
}

.icon-fish {
    content: "\e9f7";
}

.icon-waves-bold {
    content: "\e9f8";
}

.icon-gift {
    content: "\e9f9";
}

.icon-grapes {
    content: "\e9fa";
}

.icon-group-4 {
    content: "\e9fb";
}

.icon-mail4 {
    content: "\e9fc";
}

.icon-pass {
    content: "\e9fd";
}

.icon-bed {
    content: "\e9fe";
}

.icon-tickets {
    content: "\e9ff";
}

.icon-chef-hat {
    content: "\ea00";
}

.icon-arrow-7 {
    content: "\ea01";
}

.icon-eye-off {
    content: "\ea02";
}

.icon-trash {
    content: "\ea03";
}

.icon-cow {
    content: "\ea04";
}

.icon-fishing-3 {
    content: "\ea05";
}

.icon-kayak3 {
    content: "\ea06";
}

.icon-shepherd {
    content: "\ea07";
}

.icon-compass-2 {
    content: "\ea08";
}

.icon-arrow-multi {
    content: "\ea09";
}

.icon-align-left {
    content: "\ea0a";
}

.icon-align-right {
    content: "\ea0b";
}

.icon-align-center {
    content: "\ea0c";
}
