<div class="woody-component woody-component-eyecandy">

    {% if link %}
        <a href="{{ link.url }}" target="{{ link.target|default(_self) }}" {% if link.title %}title="{{ link.title }}" {% endif %}>
    {% endif %}

    {% include '_objects/imageObject.twig' with {
        'img': eye_candy_img_img,
        'image_style' : "ratio_free",
        'noRespCrop' : 'noRespCrop',
        'hide_caption' : true
    } %}

    {% if link %}
        </a>
    {% endif %}
</div>