#map-container {
    position: relative;
    z-index: 2;
    & > div {
        border-top: 1px solid $panel-default-border;
    }
    .map-mode-switcher {
        left: $grid-gutter-width/2;
        right: initial;
    }
}

&.modal-open #map-container {
    z-index: 0 !important;
}

.sidebar-map-container {
    padding: $vr--tiny;
    cursor: pointer;
    z-index: 1;
    position: relative;

    #show-map{
        background-image: url(https://api.tourism-system.com/static/assets/images/see_map.png);
        background-size: cover;
        padding: 20px;
    }

    .sidebar-map {
        height: 190px;
        & > a { color: white; }
        .gm-style > * {
            // 24/06/21 - Fix hidden map (gm dom changed) #52591
            // 20/05/22 - Fix hidden map (aria-roledescription changed) #57035
			&:not(:first-child):not([aria-roledescription="map"]):not([aria-roledescription="carte"]) {
				display: none;
			}
        }
    }
}
