#map-container {
    position: relative;
    z-index: 2;
    & > div {
        border-top: 1px solid $panel-default-border;
    }
}

&.modal-open #map-container {
    z-index: 0 !important;
}

.sidebar-map-container {
    padding: $vr--tiny;
    cursor: pointer;
    z-index: 1;
    position: relative;

    #show-map{
        background-image: url(https://api.tourism-system.com/static/assets/images/see_map.png);
        background-size: cover;
        padding: 20px;
    }

    .sidebar-map {
        height: 190px;
        & > a { color: white; }
        .gm-style > * {
            &:not(:first-child) {
                display: none;
            }
        }
    }
}
