/**
 * Sidebar Booking Content
 */

.tourism-detail-sidebar {

    // elloha iframe sidebar block
    #booking {
        padding: 0;
        background-color: $primary-color;

        .iframe-wrapper {
            position: relative;
        }

    }
}

/**
 * Booking Main Content
 */


@keyframes uil-ring-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadImg {
    z-index: 10;
}

.isLoading-render {
    $loaderDivHeight: 120px;

    background: none;
    position: relative;
    width: 100%;
    height: $loaderDivHeight;
    background: #ddd;
    cursor: wait;

    >div {
        $loaderHeight: $loaderDivHeight - 40px;
        position: absolute;
        display: block;
        width: $loaderHeight;
        height: $loaderHeight;
        top: ($loaderDivHeight - $loaderHeight)/2;
        left: 45%;
        border-radius: 80px;
        box-shadow: 0 5px 0 0 lighten($primary-color, 15%);
        animation: uil-ring-anim 1s linear infinite;
    }
}
