/**
 * Sidebar Booking Content
 */

.tourism-detail-sidebar {

    .booking-content {
        width: 100%;

        a {
            text-decoration: none;
            padding: 15px 30px;
            font-weight: bold;
            /* text-transform: uppercase; */
        }

        .booking-info {
            text-align: center;

            .booking-tariff-text {
                color: #cccccc;
                font-size: $font-size-base*1.1;

                .booking-from {
                    display: inline-block;
                    vertical-align: bottom;
                    color: $text-light;
                    font-size: 1em;
                }

                .booking-tariff {
                    color: $primary-color;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 50px;
                    line-height: 40px;
                    font-weight: bold;

                    .booking-tariff-sup {
                        top: -10px;
                    }
                }
            }

            .booking-tariff-info {
                display: block;
                margin: 10px 0;
                font-size: 1.3em
            }
        }
    }

    // elloha iframe sidebar block
    #booking {
        padding: 0;
        background-color: $primary-color;


        .iframe-overlay-content,
        .modal-backdrop {
            display: none;
        }

        .iframe-wrapper {
            position: relative;
        }

        .fullscreen-iframe-btn:hover~.iframe-wrapper {
            .iframe-overlay {
                cursor: pointer;

                &:before {
                    background: #000;
                    opacity: 0.6;
                }

                .iframe-overlay-content {
                    display: flex;
                }
            }
        }

        .iframe-overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &:before {
                transition: all ease-in-out 1s;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }

            .iframe-overlay-content {
                margin-top: 60px;

                &:not(:first-child) {
                    margin-top: 500px;
                }

                // flex-direction: column;
                .plo-fonticon {
                    color: white;
                    margin: 0 auto;
                    font-size: 60px;
                    height: 60px;

                    &:before {
                        margin: 0;
                        margin-top: 40px;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                &:before {
                    background: #000;
                    opacity: 0.6;
                }

                .iframe-overlay-content {
                    display: flex;
                }
            }
        }

        &.fullscreen {
            position: fixed !important;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2147483647;
            background-color: transparent;

            #sidebar-booking-frame {
                // overflow-y: hidden;
                // position: initial;
                max-height: none;
                border: none;
                background-color: white;
                box-shadow: 0 5px 15px rgba(0,0,0,.5);
                max-width: 1200px;

                -webkit-overflow-scrolling: touch !important;
                overflow: auto !important;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                margin: 75px auto 50px;
                @media (max-width: 992px) {
                    margin-bottom: 0 !important;
                }
                &:after {
                    content: none;
                }
            }

            .fullscreen-iframe-btn {
                position: absolute;
                right: $grid-gutter-width;
                top: 10px;
                border-radius: 50%;

                border: 2px solid;
                background-color: white;
                color: #00abea;
                margin: 0;
                padding: $grid-gutter-width/2;
                line-height: 1;
                cursor: pointer;

                .plo-fonticon {
                    display: inline;
                    position: relative;
                    top: 0;

                    &:before {
                        margin: 0;
                        content: "\e615";
                    }
                }

                .full-screen-text {
                    display: none;
                }
            }

            .iframe-overlay {
                display: none;
            }

            .modal-backdrop {
                position: fixed;
                display: block;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: #000;
                pointer-events: none;
                z-index: -1 !important;
                opacity: 0.6;
            }


        }

        .fullscreen-iframe-btn {
            position: relative;
            padding: $grid-gutter-width/2;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            color: white;

            .plo-fonticon {
                font-size: 23px;
                display: none;
            }
        }
    }
}

// elloha iframe
#sidebar-booking-frame {
    position: relative;
    display: flex;
    max-height: 3000px;
    overflow-y: hidden;
    background-color: white;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    iframe {
        min-height: 500px;
    }
}

/**
 * Booking Main Content
 */


@keyframes uil-ring-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadImg {
    z-index: 10;
}

.isLoading-render {
    $loaderDivHeight: 120px;

    background: none;
    position: relative;
    width: 100%;
    height: $loaderDivHeight;
    background: #ddd;
    cursor: wait;

    >div {
        $loaderHeight: $loaderDivHeight - 40px;
        position: absolute;
        display: block;
        width: $loaderHeight;
        height: $loaderHeight;
        top: ($loaderDivHeight - $loaderHeight)/2;
        left: 45%;
        border-radius: 80px;
        box-shadow: 0 5px 0 0 lighten($primary-color, 15%);
        animation: uil-ring-anim 1s linear infinite;
    }
}
