/**
 * Sidebar Contact form
 */

.registration-status {
    .panel { border-color: #ff632a; }
    .panel-body { color: #ff632a; font-weight: bold; }
}

.sidebar-contact-form-section {

    $avatar-size: 140px;

    @media only screen and (max-width: 768px) {
        &.sticky-element {
            top: 0 !important;
        }
    }
    @keyframes anim1 {
        from {
            transform: translateY(-120%);
            opacity: 0;
        }

        to {
            transform: none;
            opacity: 1;
        }
    }

    .icon-font-mountain {
        font-weight: 600;
        margin-top: $vr--tiny;
    }
    .altitude {
        display: inline-block;
        margin-top: $vr--tiny;
        vertical-align: text-top;
    }
    .contact-transition {
        animation: anim1 0.5s ease-out;
    }

    fieldset {
        width: 100%;

        label {
            @extend ._plu-flush;

            textarea {
                border-radius: 4px;
                -webkit-border-radius: 4px;
                width: 100%;
            }
        }
    }

    .bubble-bspace {
        padding-top: $vr;
    }

    margin-top :0;

    &.sticky-fixed-bottom {
        margin-bottom: 0;
        top: auto !important;
        bottom: 20px !important;
    }

    &.sidebar-contact-form-has-avatar {
        margin-top: (($avatar-size /2) - $panel-body-padding) !important;
    }

    .sidebar-contact-form-avatar {
        margin: -($avatar-size /2) auto 0;
        width: $avatar-size;
        text-align: center;

        &-link {
            position: relative;

            img {
                transition: all ease-in-out 200ms;
                transform: scale(1);
            }

            &:hover {
                img {
                    transform: scale(0.9);
                }
            }
        }

        &-icon {
            position: relative;
            display: block;
            font-size: 130px;
            margin-bottom: -25px !important;
            line-height: 1;
        }

        &-img {
            border-radius: 50%;
        }
    }


    .sidebar-contact-form {
        position: relative;
        padding-top: 5px;
        text-align: center;

        .sidebar-default-btn {
            margin-top: $vr--small;
        }

        .sidebar-contact-info {
            text-align: center;
            margin-bottom: $vr;

            a {
                text-decoration: none;
            }

            .sidebar-contact-text {
                color: $text-muted;
                opacity: 0.6;
                @include header-size(h6);
            }

            .sidebar-contact-business-name {
                font-weight: normal;
                // font-size: ($font-size-h3 + $font-size-h4)/2 !important;
                @include header-size(h4);
                line-height: ($font-size-h3 + $font-size-h4)/2;
            }
        }

        .sidebar-contact-form-message {
            min-height: 100px;
            max-height: 130px;
            padding: $vr--small;
        }

    }
}

#external-grc,
#nurtik-form {

    & > details {
        summary {
            cursor: pointer;
            list-style: none;
            &:after {
                font-family: 'raccourci';
                display: inline-block;
                position: absolute;
                right: 30px;
                transform: rotate(90deg) scaleX(1);
                @extend .icon-nav-next;
            }
        }
    }

    & > details[open] {
        summary::after {
            transform: rotate(-90deg) scaleX(1);
        }
    }

    &.modal-opened {
        display: flex;
    }
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        .modal-content {
            border-radius: 0;
            width: 40%;
            max-width: 75rem;
            min-width: 500px;
            height: auto;
            max-height: 90vh;
            margin: 5vh auto;
            overflow-y: auto;
        }

        .sidebar-contact-text {
            white-space: pre-line;
        }
    }

    // media query big screens
    .modal-dialog.small {
        height: auto;
        margin: auto;
    }
    @media screen and (max-width: $ts_screen-sm) {
        .modal-dialog.small .modal-content {
            min-width: 90vw;
        }
    }

    .g-recaptcha {
        display: inline-block;
    }

    .close:focus, .close:hover {
        color: $primary-color;
        opacity: 1;
    }
}
