<div class="flex-container align-middle alert-wrapper">
    <div class="flex-container align-middle align-center alert-icon">
        <span class="wicon wicon-021-info"></span>
    </div>
    <div class="alert-text">
        <span class="msg">{{ alert }}</span>
    </div>

</div>
