{% if formated_object.specialLabels and config.site_key in ['angers-tourisme'] %}
    <li id="li-city-pass">
        <a class="plo-btn"
            {% if config.lang in ['fr','ca'] %}
                href="https://www.tourisme.destination-angers.com/avec-le-city-pass-visitez-les-sites-incontournables"
            {% elseif config.lang == 'es' %}
                href="https://www.tourisme.destination-angers.com/es/organizar/con-el-city-pass-podras-visitar-los-lugares-ineludibles"
            {% else %}
                href="https://www.tourisme.destination-angers.com/en/plan-your-stay/the-city-pass"
            {% endif %}
            style="display: block;" target="_blank" rel="nofollow">

            <div class="media media-center">
                <span class="media-body media-middle">{{'CITY_PASS.INCLUDED'|trans}}<br>{{'CITY_PASS.BOOK'|trans}}</span>
            </div>
        </a>
    </li>
{% endif %}
