{% if formated_object.centralResa|default and contractsLevels.content.booking %}

    {% if formated_object.centralResa.type == '99.20.02.02.12' and formated_object.centralResa.mode|default == 'booking' %}
        {# ELLOHA BOOKING IFRAME - content #}
    {% elseif formated_object.centralResa.type == '99.20.02.02.04' and formated_object.centralResa.mode|default == 'booking' %}
        {# INGENIE BOOKING IFRAME - sidebar #}
    {% else %}
        <section id="booking" class="content-booking panel panel-default row show-when-angular-ready" ng-class="{'booking-elloha': formatedDatas.resaIframe && formatedDatas.resaIframeContent}">


            <div ng-if="formatedDatas.resaIframe && formatedDatas.resaIframeContent"
                class="panel-title-desktop list-group-item  _plu-push--tiny">
                <span class="pl-heading">{{formated_object.centralResa.title|default('Réservez') }}</span>
            </div>
            <div ng-if="formatedDatas.resaIframe" class="panel-title-responsive row">
                <span class="panel-title-responsive_text">{{formated_object.centralResa.title|default('Réservez') }}</span>
            </div>
            <span ng-controller="datesGlobalCtrl"></span>

            {# content #}
            {% if formated_object.centralResa.type not in ['99.20.02.02.04', '99.20.02.02.05', '99.20.02.02.12', '99.20.02.02.14', '99.20.02.02.15', '99.20.02.02.17', '99.20.02.02.18'] %}
                <ng-include ng-if="!formatedDatas.resaIframe" src="'components/central-resa/central-resa.html'"></ng-include>
            {% else %}
                {# Loader with text #}
                {% if splash|default %}
                    <div id="splashload-elloha" class="row elloha-load-msg-wrapper">
                        <div class="elloha-load-msg">
                            <div class="isLoading small"></div>
                            <span>{{ 'GLOBAL.SEARCHING_ELLOHA'|trans }}<span class="animated-ellipsis"></span></span>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <span ng-if="formatedDatas.resaIframe && formatedDatas.resaIframeContent">
                <div class="panel-body" ng-bind-html="formatedDatas.resaIframeContent"></div>
            </span>

        </section>
    {% endif %}

{% endif %}
