<div class="prepare_onspot_wrapper flex-container">
    <span>Sur place</span>
    <div class="prepare_onspot_switcher flex-container">
        <input class="switch-input" id="prepare_onspot" type="checkbox" name="prepare_onspot" {% if switch %} checked {% endif %}>
        <label class="switch-paddle" for="prepare_onspot">
        </label>
        <span>
            Préparer son séjour
        </span>
    </div>
</div>
