.bg {
    @include colors-apply();

    &-lightgray,
    &-white {
        a:not(.button):not(.card-link):not(.tab-link):not(.feature-link) {
            color: $primary-color;
        }
    }
}

[class*='bg-'] {

    @each $color,
    $hex in $foundation-palette {
        .bg {
            @include colors-apply();
        }
    }

    [class*='bg-'] {

        @each $color,
        $hex in $foundation-palette {
            .bg {
                @include colors-apply();
            }
        }
    }

}

.bg- {

    @each $color,
    $hex in $foundation-palette {
        &#{$color} {

            @each $name,
            $opacity in $opacities-bg-colors {
                &.bgcolor-op#{$name} {
                    background-color: rgba($hex, $opacity) !important;
                }
            }
        }
    }
}

.text {
    @include colors-apply(color);
}

.border {
    @include colors-apply(border-color);
}
