// ? This has been added to fix splitgrids heights with centered stretched blocs
[class^='splitgrid_'] {
    @include breakpoint(medium) {
        >.cell {
            display: flex;

            >[class^='grid-'] {
                width: 100%;

                >.cell {
                    display: flex;

                    >.visualModifier {
                        display: flex;
                        width: 100%;
                    }

                    .woody-component:not(.isFixed) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// ? ---

@include breakpoint(small down) {
    .mobile-order-first {
        order: -1;
    }
}

.grid-borders {
    @include grid-borders;
}

.fullHeight {
    height: 100%;
}

.grid-gap-sm {
    gap: map-get($grid-column-gutter, small);
}
