@keyframes woodySlideInDown {
    0% {
        opacity: 100%;
    }

    2% {
        opacity: 0;
    }

    30% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expansion {
    0% {
        transform: scale(0);
        opacity: .5;
    }

    70% {
        opacity: .2;
    }

    90% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes customPaginationLoader {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes littleExpansion {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes fadeInSubmenu {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes skeletonCard {
    to {
        background-position: right -35% top 0;
    }
}
