.hero,
.page-main,
.section {

    &-pretitle,
    &-title,
    &-subtitle,
    &-description {
        word-break: break-word;
        margin-bottom: 0;
    }

    &-pretitle,
    &-subtitle {
        @include xy-gutters($gutter-position: top);
    }

    &-description {
        @include xy-gutters($gutters: 50px, $gutter-position: top);
    }
}

.mega-title {
    font-family: $mega-title-font-family;
    font-size: $mega-title-font-size;
    font-weight: $mega-title-font-weight;
    text-transform: $mega-title-text-transform;
}

.frontpage-htitle {
    position: absolute;
    bottom: calc(100% + 300px);
    margin: 0;
}

.generic-block-header {
    &.fullwidth {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .generic-block-texts {
        >span {
            display: block;
        }
    }

    .generic-block-wicon {
        @include header-size('h2');
    }

    .generic-block-title {
        @extend .h2 !optional;
    }

    .generic-block-pretitle,
    .generic-block-subtitle {
        @extend .h4 !optional;
    }
}

// Tooltip
[w-tooltip-up] {
    @include tooltip(up);
}

[w-tooltip-left] {
    @include tooltip(left);
}

[w-tooltip-down] {
    @include tooltip(down);
}

[w-tooltip-right] {
    @include tooltip(right);
}

// Helper class
.wicon {
    &.big {
        font-size: $wicon-size-big;
        line-height: $wicon-size-big;
    }

    &.medium {
        font-size: $wicon-size-medium;
        line-height: $wicon-size-medium;
    }

    &.small {
        font-size: $wicon-size-small;
        line-height: $wicon-size-small;
    }

    &.mini {
        font-size: $wicon-size-mini;
        line-height: $wicon-size-mini;
    }
}

.no-visible-text {
    font-size: 0;
    margin: 0;
    padding: 0;
}
