<div class="section-header text-center ">
    {% include '_objects/titlesObject.twig' with {
        'titles' : _context,
        'contextPrefix' : "section",
        'flexOptions' : "flex-container flex-dir-column align-center align-middle text-center"
    } %}
</div>
