$input-height-base: ($line-height-computed/2 + ($padding-base-vertical * 2) + 2);
$input-height: $vr--large;
$input-p--sides: ($vr/2);
$input-bdrs: $theme-bdrs;
$input-fz--icon: (17px/$font-size-site)*1em;
$input-fw: 300;
