$font-size-h1: 4.8rem;
$font-size-h2: 3.5rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2.0rem;
$font-size-h5: 1.7rem;
$font-size-h6: 1.4rem;

$font-size-site: 16;
$font-size-base: 16px;
$font-size-base--small: $font-size-h6;
$font-size-base--large: $font-size-h4;

$headings-font-weight: 300;
$headings-line-height: 1.25;

$font-family-sans-serif: $body-font-family;
$second-font-family: $font-family-sans-serif;
