<div class="cell medium-8 flex-container align-center align-middle">
    {% if icon|default or pretitle|default or title|default or subtitle|default or description|default %}
        <div class="block-header padd-all-md">
            {% include '_objects/titlesObject.twig' with {
                'titles' : _context,
                'contextPrefix' : "socialwall",
                'flexOptions' : "flex-container flex-dir-column align-middle align-center text-center"
            } %}
        </div>
    {% endif %}
</div>
<div class="cell medium-4">
    {% for item in gallery_items[:1] %}
        <div class="cell">
            {% include 'cards/media_card/tpl_01/tpl.twig' with {
                'containerClass' : "socialwall",
                'reveal' : true
            } %}
        </div>
    {% endfor %}
</div>
