<div class="swiper-nav">
    <div class="swiper-button-prev">
        <i aria-hidden="true" class="wicon wicon-026-precedent"></i>
    </div>
    <div class="swiper-button-next">
        <i aria-hidden="true" class="wicon wicon-025-suivant"></i>
    </div>
</div>
