{% set index_class = 'tpl_09' %}
{% extends 'swipers/landing_swipers/tpl_01/tpl.twig' %}
{% block landswpr_titles_wrapper %}
    {% if slide.title or slide.subtitle or slide.pretitle or slide.landswpr_slide_smart_links.links %}
        <div class="landswpr-titles-wrapper grid-container padd-all-lg bottomrightbox fcbCol">
            {% include '_objects/titlesObject.twig' with {
                'titles' : slide,
                'contextPrefix' : "landswpr",
                'textsClasses' : "flex-container flex-dir-column align-right text-right"
            } %}
            {% if slide.landswpr_slide_smart_links.links|default %}
                <div class="landswpr-links-wrapper flex-container{{ slide.landswpr_slide_smart_links.alignement == 'vertical' ? ' flex-dir-column' }}">
                    {% for button in slide.landswpr_slide_smart_links.links %}
                        {% include 'swipers/_objects/landswprButtonObject.twig' with button %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}