<div class="cell medium-6 large-4">
    <div class="grid-y medium-grid-frame">
        <div class="cell medium-6 large-4 header-wrapper">
            <div class="flex-container align-center align-middle">
                {% if icon|default or pretitle|default or title|default or subtitle|default or description|default %}
                    <div class="block-header padd-all-md">
                        {% include '_objects/titlesObject.twig' with {
                            'titles' : _context,
                            'contextPrefix' : "socialwall",
                            'flexOptions' : "flex-container flex-dir-column align-middle align-center text-center"
                        } %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="cell medium-6 large-8">
            <div class="grid-x{{ sw_no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
                {% for item in gallery_items[:4]%}
                    <div class="cell small-6">
                        {% include 'cards/media_card/tpl_01/tpl.twig' with {
                            'containerClass' : "socialwall",
                            'reveal' : true
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="cell medium-6 large-4">
    <div class="grid-x{{ sw_no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
        {% for item in gallery_items[4:1]%}
            {# item 5 #}
            <div class="cell">
                {% include 'cards/media_card/tpl_01/tpl.twig' with {
                    'containerClass' : "socialwall",
                    'reveal' : true
                }%}
            </div>
        {% endfor %}
        {% for item in gallery_items[5:2]%}
            <div class="cell small-6">
                {# items|length >= 10 6, 7 #}
                {% include 'cards/media_card/tpl_01/tpl.twig' with {
                    'containerClass' : "socialwall",
                    'reveal' : true
                } %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="cell large-4 hide-for-medium-only">
    <div class="grid-x{{ sw_no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
        {% for item in gallery_items[7:2]%}
            <div class="cell small-6">
                {# items|length >= 10 8, 9 #}
                {% include 'cards/media_card/tpl_01/tpl.twig' with {
                    'containerClass' : "socialwall",
                    'reveal' : true
                } %}
            </div>
        {% endfor %}
        {% for item in gallery_items[9:1]%}
            {# item 10 #}
            <div class="cell">
                {% include 'cards/media_card/tpl_01/tpl.twig' with {
                    'containerClass' : "socialwall",
                    'reveal' : true
                } %}
            </div>
        {% endfor %}
    </div>
</div>
